{% extends 'base_counselor.html' %}
{% load static %}
{% load i18n %}
{% load phrase_i18n %}
{% load widget_tweaks %}
{% block title %}
<title>{% trans "Futurely: Account Settings" %}</title>
{% endblock %}

{% block style %}
{% phrase_javascript %}
{% endblock %}

{% block content %}
<div class="main-content py-4">
    <div class="row mx-4">
        <div class="col-lg-12 col-md-12 page-route-margin">
            <span class="pages-route-pre">
                <a href="{% url 'counselor-dashboard' %}">{% trans "Home" %} ></a>
                {% trans "Account Settings" %}
            </span>
        </div>
    </div>
    <div class="wrapper mx-4">
        <div class="row">
            <div class="col-12 col-5 col-md-4 my-3 pt-4">
                <h4 class="account_setting text-white ps-3 mb-md-4">{% trans "Account Settings" %}</h4>
                <div class="account_inner_content mt-xs-5 mt-sm-2 mx-4">
                    <div class="account_stats p-3">
                        <div class="account_stats_left">
                            <h5>{% trans "Account Statistics" %}</h5>
                            <p>{% trans "With each step you successfully complete, you improve your statistics" %}</p>
                        </div>
                        <div class="account_stats_right">
                            <div class="progress blue">
                                <span class="progress-left">
                                    <span class="progress-bar"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar"></span>
                                </span>
                                <div class="progress-value">50%</div>
                            </div>


                        </div>



                    </div>

                    <a href="{% url 'account-settings-counselor' %}" class="account_links p-3 mt-4 mb-2 d-inline-block w-100">
                        <i class="fas fa-user account_links_left_icon mr-1"></i>{% trans "Personal Information" %} <i
                            class="fas fa-chevron-right float-right account_links_right_icon"></i>
                    </a>
                    <a href="{% url 'account-change-password-counselor' %}"
                        class="account_links p-3 mt-2 mb-4 d-inline-block w-100">
                        <i class="fas fa-lock account_links_left_icon mr-1"></i>{% trans "Security" %} <i
                            class="fas fa-chevron-right float-right account_links_right_icon"></i>
                    </a>

                </div>
            </div>
            <div class="col-12 col-7 col-md-8 personal_info my-3 pt-4">
                <div class="account_inner_content mx-4">
                    <div class="top_info pb-3 mb-3">
                        <div class="row mx-0">
                            <div class="col-12 col-sm-6 px-0 d-flex align-items-center text-white">
                                <h4>{% trans "Security" %}<br>
                                    <p class="AI-sub-head-prop">{% trans "Change password" %}</p>
                                </h4>

                            </div>
                            <div class="col-12 col-sm-6 px-0">
                                <div class="personal_info_btn d-flex justify-content-end">
                                    <a href="#" class="px-3 py-2 ms-2"
                                        id="save_security_form">{% trans "Save all changes" %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info_form">
                        <form action="{% url 'account-change-password-counselor' %}" method="POST" id="security_form">
                            {% csrf_token %}
                            <div class="row my-3">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="mb-2" for="email">{% trans "Current Password" %}</label>
                                        <input type="password" class="form-control cpassword"
                                            placeholder="current password" id="cpassword" name="cpassword">
                                        <!-- <span toggle="#password-field"  class="field-icon toggle-password toggle-span">Show</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="mb-2" for="email">{% trans "New Password" %}</label>
                                        <input type="password" class="form-control npassword" placeholder="new password"
                                            id="npassword" name="npassword">
                                        <!-- <span toggle="#password-field"  class="field-icon toggle-npassword toggle-span">{% trans "Show" %}</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row my-3">
                                <!-- <div class="col-12">
                                    <div class="form-group">
                                        <label class="mb-2" for="email">{% trans "Email" %}</label>
                                        <input type="email" class="form-control" placeholder="textemail@gmail.com"
                                            id="email" name="email" value="{{email}}" readonly>
                                    </div>
                                </div> -->

                                {% if message %}
                                <div {% if error %} class="alert alert-danger" {% else %} class="alert alert-success"
                                    {% endif %}>{{message}}</div>
                                {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block script %}
<script type="text/javascript">
    $(".toggle-password").click(function () {
        $(this).toggleClass("field-icon");
        var input = $('.cpassword');
        if (input.attr("type") == "password") {
            input.attr("type", "text");
            $(".toggle-password").html('Hide');
        } else {
            input.attr("type", "password");
            $(".toggle-password").html('Show');
        }
        return;
    });
    $(".toggle-npassword").click(function () {

        $(this).toggleClass("field-icon");
        var input = $('.npassword');
        if (input.attr("type") == "password") {
            input.attr("type", "text");
            $(".toggle-npassword").html('Hide');
        } else {
            input.attr("type", "password");
            $(".toggle-npassword").html('Show');
        }
    });

    $("#save_security_form").on('click', function (e) {
        $('#security_form').submit();
    });
</script>
{% endblock %}

{% endblock %}