{% extends 'dashboard.html' %}
{% load static %}
{% load i18n %}
{% load phrase_i18n %}
{% load widget_tweaks %}
{% block title %}
<title>{% trans "Futurely: Account Settings" %}</title>
{% endblock %}

{% block style %}
<style>
.error-msg {
        color: red;
        font-size: 14px;
    }
</style>
{% phrase_javascript %}
{% endblock %}

{% block content %}
<div class="main-content py-4">
    <div class="row mx-4">
        <div class="col-lg-12 col-md-12 page-route-margin">
            <span class="pages-route-pre">
                <a href="{% url 'home' %}">{% trans "Home" %} ></a>
                {% trans "Account Settings" %}
            </span>
        </div>
    </div>
    <div class="wrapper mx-4">
        <div class="row">
            <div class="col-12 col-5 col-md-4 my-3 pt-4">
                <h4 class="account_setting text-white ps-3 mb-md-4">{% trans "Account Settings" %}</h4>
                <div class="account_inner_content mt-xs-5 mt-sm-2 mx-4">
                    <div class="account_stats p-3">
                        <div class="account_stats_left">
                            <h5>{% trans "Account Statistics" %}</h5>
                            <p>{% trans "With each step you successfully complete, you improve your statistics" %}</p>
                        </div>
                        <div class="account_stats_right">
                            <div class="progress blue">
                                <span class="progress-left">
                                    <span class="progress-bar"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar"></span>
                                </span>
                                <div class="progress-value">50%</div>
                            </div>


                        </div>



                    </div>

                    <a href="{% url 'account-settings' %}" class="account_links p-3 mt-4 mb-2 d-inline-block w-100">
                        <i class="fas fa-user account_links_left_icon mr-1"></i>{% trans "Personal Information" %} <i
                            class="fas fa-chevron-right float-right account_links_right_icon"></i>
                    </a>
                    <a href="{% url 'account-notification' %}" class="account_links p-3 mt-2 mb-2 d-inline-block w-100">
                        <i class="fas fa-bell account_links_left_icon mr-1"></i>{% trans "Notifications" %} <i
                            class="fas fa-chevron-right float-right account_links_right_icon"></i>
                    </a>
                    <a href="{% url 'account-change-password' %}"
                        class="account_links p-3 mt-2 mb-4 d-inline-block w-100">
                        <i class="fas fa-lock account_links_left_icon mr-1"></i>{% trans "Security" %} <i
                            class="fas fa-chevron-right float-right account_links_right_icon"></i>
                    </a>

                </div>
            </div>
            <div class="col-12 col-7 col-md-8 personal_info my-3 pt-4">
                <div class="account_inner_content mx-4">
                    <div class="top_info pb-3 mb-3">
                        <div class="row mx-0">
                            <div class="col-12 col-sm-6 px-0 d-flex align-items-center text-white">
                                <h4>{% trans "Security" %}<br>
                                    <p class="AI-sub-head-prop">{% trans "Change password" %}</p>
                                </h4>

                            </div>
                            <div class="col-12 col-sm-6 px-0">
                                <div class="personal_info_btn d-flex justify-content-end">
                                    <a href="#" class="px-3 py-2 ms-2"
                                        id="save_security_form">{% trans "Save all changes" %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info_form">
                        <form action="{% url 'account-change-password' %}" method="POST" id="security_form">
                            {% csrf_token %}
                            <div class="row my-3">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="mb-2" for="email">{% trans "Current Password" %}</label>
                                        <input type="password" class="form-control cpassword"
                                            placeholder="current password" id="cpassword" name="cpassword">
                                        <!-- <span toggle="#password-field"  class="field-icon toggle-password toggle-span">Show</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="mb-2" for="email">{% trans "New Password" %}</label>
                                        <input type="password" class="form-control npassword" placeholder="new password"
                                            id="npassword" name="npassword">
                                        <!-- <span toggle="#password-field"  class="field-icon toggle-npassword toggle-span">{% trans "Show" %}</span> -->
                                    </div>
                                    <div class="error-msg" id="id_password_error">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-3">
                                <!-- <div class="col-12">
                                    <div class="form-group">
                                        <label class="mb-2" for="email">{% trans "Email" %}</label>
                                        <input type="email" class="form-control" placeholder="textemail@gmail.com"
                                            id="email" name="email" value="{{email}}" readonly>
                                    </div>
                                </div> -->

                                {% if message %}
                                <div {% if error %} class="alert alert-danger" {% else %} class="alert alert-success"
                                    {% endif %}>{{message}}</div>
                                {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade learn-popup" id="id-contact-popup" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content contact-pop-back">
                <div class="modal-header">
                    <button type="button" id="btn-close-tutor" class="btn-close color-white cross-btn-cls"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2 class="color-white">{% trans "Submit Query to your tutor" %}</h2>
                    <hr class="color-white">
                    <div class="modal-body info_form">
                        <form id="post-contact-tutor" method="POST" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-4">
                                        <label for="cc-num" class="hidden">credit card HubspotCollectedFormsWorkaround https://community.hubspot.com/t5/APIs-Integrations/How-to-stop-collected-forms-from-collecting-a-form/m-p/299172#M28102</label>
                                        <input name="cc-num" class="hidden" required="" value="HubspotCollectedFormsWorkaround" id="cc-num">
                                        <input id="email" class="form-control text-white" type="text"
                                            placeholder="your-email@futurely.com" value="{{user.email}}" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-4">
                                        <input id="subject" class="form-control" type="text"
                                            placeholder="{% trans 'Subject of discussion' %}" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-4">
                                        <textarea id="questions" class="form-control" type="text"
                                            placeholder="{% trans 'Enter your queries for the tutor' %}"
                                            required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary con-tutor tutor-submit">{% trans "Submit" %}</button>
                                    <button type="submit"  style="display: none" class="btn btn-primary con-tutor start-loading contact_tutor_loader"><i class="fa fa-spinner fa-spin"></i></button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% block script %}
<script>
    $('#npassword').keyup(function() {
        $("#id_password_error p").text(checkStrength($('#npassword').val()));
    });

    var is_password_valid = false;
    function checkStrength(password) { 
        var strength = 0
        if (password.length <= 7) {  
            is_password_valid = false;
            $('#id_password_error').removeClass();
            $('#id_password_error').addClass('error-msg');
            $('#npassword').css('border', '2px solid #ff1313');
            $("#id_password_error p").text("{% trans 'La tua password deve contenere una lettera maiuscola, una lettera minuscola, 1 numero e deve avere almeno 8 caratteri.' %}");
                return "{% trans 'La tua password deve contenere una lettera maiuscola, una lettera minuscola, 1 numero e deve avere almeno 8 caratteri.' %}"
        }  
        if (password.length > 5) strength += 1  
        // If password contains both lower and uppercase characters, increase strength value.  
        if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) strength += 1  
        // If it has numbers and characters, increase strength value.  
        if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/)) strength += 1  
        // If it has one special character, increase strength value.  
        // If value is less than 2  
        if (strength < 3) {
            is_password_valid = false;
            $('#id_password_error').removeClass();
            $('#id_password_error').addClass('error-msg');
            $("#id_password_error p").text("{% trans 'La tua password deve contenere una lettera maiuscola, una lettera minuscola, 1 numero e deve avere almeno 8 caratteri.' %}");
            $('#id_password').css('border', '2px solid #ff1313');
            return "{% trans 'La tua password deve contenere una lettera maiuscola, una lettera minuscola, 1 numero e deve avere almeno 8 caratteri.' %}"  
        } else {  
            $('#id_password_error').removeClass();  
            $('#id_password_error').addClass('strong-msg');
            $("#id_password_error p").text("");  
            $('#npassword').css('border', '1px solid #000');
            is_password_valid = true;
            return ''  
        }  
    }
</script>
<script type="text/javascript">
    $(".toggle-password").click(function () {
        $(this).toggleClass("field-icon");
        var input = $('.cpassword');
        if (input.attr("type") == "password") {
            input.attr("type", "text");
            $(".toggle-password").html('Hide');
        } else {
            input.attr("type", "password");
            $(".toggle-password").html('Show');
        }
        return;
    });
    $(".toggle-npassword").click(function () {

        $(this).toggleClass("field-icon");
        var input = $('.npassword');
        if (input.attr("type") == "password") {
            input.attr("type", "text");
            $(".toggle-npassword").html('Hide');
        } else {
            input.attr("type", "password");
            $(".toggle-npassword").html('Show');
        }
    });

    $("#save_security_form").on('click', function (e) {
        $('#security_form').submit();
    });
</script>
{% endblock %}

{% endblock %}