{% extends 'base_auth2.html' %}
{% load static %}
{% block title%}
{% load i18n %}
{% load phrase_i18n %}
<title>{% trans "Futurely: Password Reset" %}</title>
{% endblock %}

{% block style_sheet %}
{% phrase_javascript %}
<style>

</style>
{% endblock %}

{% block content %}
<div class="row align-items-center">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-7">
        <div class="form-intro row">
            <div class="col-sm-12 p-t-20 ">
                <p class="login-title-prop">🌟 {% trans "Password changed" %}</p>
            </div>
            <div class="col-sm-12 p-t-20">
                <p>{% trans "Congratulations, your password has been changed" %}</p>
            </div>
            <form class="row form-setup" method="post" action="">
                {% csrf_token %}
                {% if message %}
                <div class="error-msg">
                    <p>{{message}}</p>
                </div>
                {% endif %}

                <div class="col-md-12">
                    <div class="border-grad">
                        <a class="extraHref" href="{% url 'home' %}">
                            <button class=" form-control sign-btn sign-btn-next" type="button">{% trans "Continue to dashboard" %}</button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-2">

    </div>
</div>
{% endblock %}