{% extends 'base_auth2.html' %}
{% load static %}
{% load i18n %}
{% load phrase_i18n %}
{% block title%}
<title>{% trans "Futurely: Password Reset" %}</title>
{% endblock %}

{% block style_sheet %}
{% phrase_javascript %}
<style>
.pass-show {
    color: #9B9FA6;
    font-size: 14px;
    margin-top: -44px;
    float: right;
    padding-top: 5px;
    padding-right: 10px;
}
</style>
{% endblock %}

{% block content %}
<div class="row align-items-center">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-7">
        <div class="form-intro row">
            <div class="col-sm-12 p-t-20 ">
                <p class="login-title-prop">🎡 {% trans "Enter new password" %}</p>
            </div>
            <div class="col-sm-12 p-t-20">
                <p>{% trans "Enter your new password" %}</p>
            </div>
            <form class="row form-setup" method="post" action="">
                {% csrf_token %}
                {% if form.errors %}
                <div class="error-msg">
                    <p>{{ form.errors.new_password2 }}</p>
                </div>
                {% endif %}
                <div class="col-md-12 ">
                    <div class="border-grad">
                        {{form.new_password1}}
                        <p id="pass_show_id" class="pass-show" onclick="passview()">
                            <i class="bi bi-eye-slash"></i>
                        </p>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <div class="border-grad">
                        {{form.new_password2}}
                        <p id="pass2_show_id" class="pass-show" onclick="password_view()">
                            <i class="bi bi-eye-slash"></i>
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="border-grad">
                        <button class=" form-control sign-btn sign-btn-next" type="submit">{% trans "Change password" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-2">

    </div>
</div>
{% endblock %}

{% block script %}
<script>
function passview() {
    var x = document.getElementById("id_new_password1");
    if (x.type === "password") {
        x.type = "text";
        $("#pass_show_id").html('<i class="bi bi-eye" aria-hidden="true"></i>');
    } else {
        x.type = "password";
        $("#pass_show_id").html('<i class="bi bi-eye-slash"></i>');
    }
}

function password_view() {
    var x = document.getElementById("id_new_password2");
    if (x.type === "password") {
        x.type = "text";
        $("#pass2_show_id").html('<i class="bi bi-eye" aria-hidden="true"></i>');
    } else {
        x.type = "password";
        $("#pass2_show_id").html('<i class="bi bi-eye-slash"></i>');
    }
    
}
</script>
{% endblock %}