{% extends 'base_website1.html' %}
{% load static %}
{% load i18n %}
{% load phrase_i18n %}
{% load widget_tweaks %}
{% block title %}
<title>{% trans "Futurely: About us" %}</title>
{% endblock %}

{% block style_sheet %}
{% phrase_javascript %}
{% endblock %}

{% block content %}
<style>
	.main-content-inner {
    background-position: bottom;
}

</style>
<div class="main-content">
		<section class="inner-banner-section" style="background-image:url({% static '/website/images/about-banner.png' %})">
		  <div class="banner-item">
			<div class="container">
			  <div class="row banner-text align-items-center" data-scrollax-parent="true">
				<div class="col-lg-12">
				<div class="banner-content text-center">
				  <div class="mb-3 h1">{% trans 'Who are we?' %}</div>
				</div>
				</div>
			</div>
		</section>
		<div class="bg-img-sec">
			<div class="star-field">
				<div class="layer"></div>
				<div class="layer"></div>
				<div class="layer"></div>
			  </div>
		{% if request.LANGUAGE_CODE == "it" %}
		
		<section class="our-meet">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title-block">
							<div class="title-block">
								<div class="h1">{% trans 'Meet our team' %}</div>
							</div>
							<div class="team-video">
								<div class="video">
									<iframe width="100%" height="500" src="https://www.youtube.com/embed/0kQkDnqin5A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% endif %}
		<section class="passsion-meets">
			<div class="container">
				  <div class="row justify-content-center">
					  <div class="col-md-12">
							<div class="title-block text-center">
							  <div class="h1">{% trans 'This is our passion' %}</div>
							</div>
					  </div>
					  <div class="col-lg-12">
						  <div class="row justify-content-center">
							<div class="col-lg-4">
								<div class="teem-card">
									<div class="row">
										<div class="col-lg-9">
											<div class="teem-card-img">
											  <img src="{% static '/website/images/teemm-2.png' %}"/>
											  <div class="teem-card-box">
												<div class="h3">Co-founder</div>
												  <div class="h2">Elisa Piscitelli <a class="connect" target="_blank" href="https://www.linkedin.com/in/data-science-elisa-piscitelli/">
													  <img class="icon-linkind" src="{% static '/website/images/brandico_linkedin-rect.png' %}"/>	
												  </a></div>
												  
											  </div>
										  </div>
										  <div class="teem-card-content">
											  <p>{% trans "Growing up, I was fascinated by the encounters I made along the way and which sparked passions and interests. I would like to accompany girls and boys in self-knowledge." %}
											  </p>
										  </div>
									  </div>
									  <div class="col-md-3">
									  </div>
								  </div>
							  </div>
						  </div>
							<div class="col-lg-4">
								<div class="teem-card">
									<div class="row">
										<div class="col-lg-9">
											<div class="teem-card-img">
											  <img src="{% static '/website/images/pramod.jpeg' %}"/>
											  <div class="teem-card-box">
												  <div class="h3">Co-founder</div>
												  <div class="h2">Pramod Chintapenta <a class="connect" target="_blank" href="https://www.linkedin.com/in/pramod-chintapenta-0ba26272/">
													  <img class="icon-linkind" src="{% static '/website/images/brandico_linkedin-rect.png' %}"/>	
												  </a></div>
												  
											  </div>
										  </div>
										  <div class="teem-card-content">
											  <p>{% trans "My aim is to guide students to find their passions through structured self-discovery, after experiencing difficulty in choosing a university major without clarity on my interests." %}
											  </p>
										  </div>
									  </div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="team-member-blocke">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12">
						<div class="title-block text-center">
							<div class="h1">{% trans "Our team" %}</div>
						</div>
					</div>
					<!-- Sales team starts-->
					<div class="col-md-4 mt-5">
						<div class="team-member-box text-center">
							<div class="team-member-img">
								<img src="{% static '/website/images/tommaso-salcerini.jpeg' %}"/>
							</div>
							<div class="team-member-content">
								<div class="h3">Tommaso Salcerini</div>
								<p>Head of Sales</p>
								<a href="https://www.linkedin.com/in/tommaso-salcerini-652b84173" target="_blank"><img class="icon-linkind" src="{% static '/website/images/brandico_linkedin-rect_new.png' %}"/></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 mt-5">
						<div class="team-member-box text-center">
							<div class="team-member-img">
								<img src="{% static '/website/images/team-6-img.png' %}"/>
							</div>
							<div class="team-member-content">
								<div class="h3">Davide Ori</div>
								<p>Sales Specialist</p>
								<a target="_blank" href="https://it.linkedin.com/in/davide-ori-160aa794"><img class="icon-linkind" src="{% static '/website/images/brandico_linkedin-rect_new.png' %}"/></a>
							</div>
							
						</div>

					</div>
					<div class="col-md-4 mt-5">
						<div class="team-member-box text-center">
							<div class="team-member-img">
								<img src="{% static '/website/images/Agnese.jpeg' %}"/>				
							</div>
							<div class="team-member-content">
								<div class="h3">Agnese del Governatore</div>
								<p>Sales Specialist</p>
								<a target="_blank" href="https://www.linkedin.com/in/agnese-del-governatore/"><img class="icon-linkind" src="{% static '/website/images/brandico_linkedin-rect_new.png' %}"/></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 mt-5">
						<div class="team-member-box text-center">
							<div class="team-member-img">
								<img src="{% static '/website/images/mattia-savia.jpeg' %}"/>				
							</div>
							<div class="team-member-content">
								<div class="h3">Mattia Savia</div>
								<p>Sales Specialist</p>
								<a target="_blank" href="https://www.linkedin.com/in/mattia-savia/"><img class="icon-linkind" src="{% static '/website/images/brandico_linkedin-rect_new.png' %}"/></a>
							</div>
						</div>
					</div>
					<!-- Sales team ends -->

					<!-- Product team starts -->
					<div class="col-md-4 mt-5">
						<div class="team-member-box text-center">
							<div class="team-member-img">
								<img src="{% static '/website/images/Giovanni.jpeg' %}"/>				
							</div>
							<div class="team-member-content">
								<div class="h3">Giovanni Alessandro Manzoni</div>
								<p>Sr. Marketing Manager & Product Owner</p>
								<a target="_blank" href="https://www.linkedin.com/in/giovanni-alessandro-manzoni/"><img class="icon-linkind" src="{% static '/website/images/brandico_linkedin-rect_new.png' %}"/></a>
							</div>
							
						</div>

					</div>

					<div class="col-md-4 mt-5">
						<div class="team-member-box text-center">
							<div class="team-member-img">
								<img src="{% static '/website/images/lorenzo-toscano.jpeg' %}"/>				
							</div>
							<div class="team-member-content">
								<div class="h3">Lorenzo Toscano</div>
								<p>Copywriter & UX Writer</p>
								<a target="_blank" href="https://www.linkedin.com/in/lorenzotoscanod/"><img class="icon-linkind" src="{% static '/website/images/brandico_linkedin-rect_new.png' %}"/></a>
							</div>
						</div>
					</div>

					<div class="col-md-4 mt-5">
						<div class="team-member-box text-center">
							<div class="team-member-img">
								<img src="{% static '/website/images/akshat.jpeg' %}"/>				
							</div>
							<div class="team-member-content">
								<div class="h3">Akshat Srivastava</div>
								<p>Product Designer</p>
								<a target="_blank" href="https://www.linkedin.com/in/uxakshat/"><img class="icon-linkind" src="{% static '/website/images/brandico_linkedin-rect_new.png' %}"/></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 mt-5">
						<div class="team-member-box text-center">
							<div class="team-member-img">
								<img src="{% static '/website/images/sales.png' %}"/>				
							</div>
							<div class="team-member-content">
								<div class="h3">Giulia Piscitelli</div>
								<p>Head of Customer Success & Content</p>
								<a target="_blank" href="https://it.linkedin.com/in/giulia-piscitelli-19b261aa"><img class="icon-linkind" src="{% static '/website/images/brandico_linkedin-rect_new.png' %}"/></a>
							</div>
						</div>
					</div>

					<!-- Product team ends-->

					<!-- CS team starts -->
					<div class="col-md-4 mt-5">
						<div class="team-member-box text-center">
							<div class="team-member-img">
								<img src="{% static '/website/images/federica-babbi.jpeg' %}"/>					
							</div>
							<div class="team-member-content">
								<div class="h3">Federica Babbi</div>
								<p>Customer Success Specialist</p>
								<a target="_blank" href="https://www.linkedin.com/in/federica-babbi-869402219/"><img class="icon-linkind" src="{% static '/website/images/brandico_linkedin-rect_new.png' %}"/></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 mt-5">
						<div class="team-member-box text-center">
							<div class="team-member-img">
								<img src="{% static '/website/images/elisa-amicone.jpeg' %}"/>					
							</div>
							<div class="team-member-content">
								<div class="h3">Elisa Amicone</div>
								<p>Customer Success Specialist</p>
								<a target="_blank" href="https://www.linkedin.com/in/elisaamicone/"><img class="icon-linkind" src="{% static '/website/images/brandico_linkedin-rect_new.png' %}"/></a>
							</div>
						</div>
					</div>
					<!-- CS team ends-->

					<!-- People Operations Team Starts -->
					<div class="col-md-4 mt-5">
						<div class="team-member-box text-center">
							<div class="team-member-img">
								<img src="{% static '/website/images/team-4-img.png' %}"/>				
							</div>
							<div class="team-member-content">
								<div class="h3">Davide Quartieri</div>
								<p>People Operations Manager</p>
								<a target="_blank" href="https://www.linkedin.com/in/davide-quartieri/"><img class="icon-linkind" src="{% static '/website/images/brandico_linkedin-rect_new.png' %}"/></a>
							</div>
						</div>
					</div>
					<!-- People Operations Team Starts -->

					<!-- Tech team starts -->
					<div class="col-md-4 mt-5">
						<div class="team-member-box text-center">
							<div class="team-member-img">
								<img src="{% static '/website/images/rohit.png' %}"/>				
							</div>
							<div class="team-member-content">
								<div class="h3">Rohit Kansal</div>
								<p>Technical Lead</p>
								<a target="_blank" href="https://www.linkedin.com/in/er-rohit-k-kansal-9a851771/"><img class="icon-linkind" src="{% static '/website/images/brandico_linkedin-rect_new.png' %}"/></a>
							</div>
							
						</div>
					</div>
					<div class="col-md-4 mt-5">
						<div class="team-member-box text-center">
							<div class="team-member-img">
								<img src="{% static '/website/images/prabh.png' %}"/>				
							</div>
							<div class="team-member-content">
								<div class="h3">Prabhjot Singh</div>
								<p>Full-stack Developer</p>
								<a target="_blank" href="https://www.linkedin.com/in/prabhjot-singh-bb0a1b107/"><img class="icon-linkind" src="{% static '/website/images/brandico_linkedin-rect_new.png' %}"/></a>
							</div>
							
						</div>
					</div>
					<div class="col-md-4 mt-5">
						<div class="team-member-box text-center">
							<div class="team-member-img">
								<img src="{% static '/website/images/arjun-dange.jpeg' %}"/>				
							</div>
							<div class="team-member-content">
								<div class="h3">Arjun Dange</div>
								<p>Full-stack Developer</p>
								<a target="_blank" href="https://www.linkedin.com/in/arjun-dange-ab25a221a/"><img class="icon-linkind" src="{% static '/website/images/brandico_linkedin-rect_new.png' %}"/></a>
							</div>
							
						</div>

					</div>

					<div class="col-md-4 mt-5">
						<div class="team-member-box text-center">
							<div class="team-member-img">
								<img src="{% static '/website/images/team-8-img.png' %}"/>				
							</div>
							<div class="team-member-content">
								<div class="h3">{% trans "How about you?" %}</div>
								<a href="#hiring-resume-title-id" class="btn btn-join-us-team">{% trans "Come Join Us" %}</a>
								
							</div>
							
						</div>

					</div>
					<div class="col-md-4"></div>
					<div class="col-md-4"></div>
				</div>
			</div>
		</section>
		<section class="hiring-join mt-5">
			<div class="container">
				<div class="row justify-content-center" id="hiring-resume-title-id">
					<div class="col-md-12">
						<div class="col-lg-8">
							<div class="title-block text-left">
								<div class="h1">{% trans "Do you want to join? We are hiring!" %}</div>
								<p>{% trans "If you want to make an impact and are looking for a job that gives you autonomy, inspires you and makes you grow, Futurely is the right place for you!" %}
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-11">
						<div class="row mt-4">
						{% if request.LANGUAGE_CODE == "it" %}
						<style>
							.hiring-card {
								background: linear-gradient(116.59deg, #0068FF 10.15%, #B179F0 56.38%, #B893BA 77.61%, #CE8991 100.73%);
								height: 201px !important;
								border-radius: 20px;
								padding: 30px 20px;
								display: block;
								width: 100%;
								opacity: 0.5;
								position: relative;
								min-height: 175px;
							}
						</style>
					
						<div class="col-lg-2 col-md-6 ">
							<div class="hiring-card ">
								<div class="hiring-card-icon">
									<img src="{% static '/website/images/hiring-icon.png' %}"/>
									<p>{% trans "Social media management" %}</p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-6">
							<div class="hiring-card">
								<div class="hiring-card-icon">
									<img src="{% static '/website/images/hiring-icon.png' %}"/>
									<p>{% trans "Product manager" %}</p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-6">
							<div class="hiring-card">
								<div class="hiring-card-icon">
									<img src="{% static '/website/images/hiring-icon.png' %}"/>
									<p>{% trans "Sales - Business Developer" %}</p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-6">
							<div class="hiring-card">
								<div class="hiring-card-icon">
									<img src="{% static '/website/images/hiring-icon.png' %}"/>
									<p>{% trans "Orientamento studenti" %}</p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-6">
							<div class="hiring-card">
								<div class="hiring-card-icon">
									<img src="{% static '/website/images/hiring-icon.png' %}"/>
									<p>{% trans "Customer Care" %}</p>
								</div>
							</div>
						</div>
						{% else %}

						
					<div class="col-lg-3 col-md-6 ">
						<div class="hiring-card ">
							<div class="hiring-card-icon">
								<img src="{% static '/website/images/hiring-icon.png' %}"/>
								<p>{% trans "Social media management" %}</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="hiring-card">
							<div class="hiring-card-icon">
								<img src="{% static '/website/images/hiring-icon.png' %}"/>
								<p>{% trans "Video content development" %}</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="hiring-card">
							<div class="hiring-card-icon">
								<img src="{% static '/website/images/hiring-icon.png' %}"/>
								<p>{% trans "Full-stack software development" %}</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="hiring-card">
							<div class="hiring-card-icon">
								<img src="{% static '/website/images/hiring-icon.png' %}"/>
								<p>{% trans "Student orientation" %}</p>
							</div>
						</div>
					</div>
					{%endif%}
					<div class="col-lg-1">
					</div>
				</div>
			</div>
		</section>
		<section class="hiring-seetion">
			<div class="container">
				<div class="col-lg-12">
					<div class="hiring-sv">
						<div class="hiring-resume-title">
							{% if request.LANGUAGE_CODE == "it" %}
							<div class="h2">Se siete interessati, cliccate <u><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScAhHiMG8QOP4C9ygsVGG58ce2flOMGOgUU98OI7dmA6BqAfA/viewform?usp=sf_link"> qui per candidarvi</a></u></div>
							{% else %}
							<div class="h2">{% trans "If you are interested, send us your CV by mail at" %} <u>hire@myfuturely.com</u></div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="bottom-bg">
		<section class="contacts-seetion">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12">
						<div class="title-block">
							<div class="h1">{% trans "Contacts" %}</div>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="map-img">
						 <img src="{% static '/website/images/map-main.png' %}"/>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="contacts-content">
							{% if request.LANGUAGE_CODE == "it" %}
							<div class="mb-4">
								<div class="h3"><img src="{% static '/website/images/mail.png' %}"/> {% trans "E-MAIL" %}</div>
								<p><a href = "mailto: segreteria@myfuturely.com">segreteria@myfuturely.com</a></p>
							</div>
							<div class="mb-4">
								<div class="h1"><img src="{% static '/website/images/map-pin.png' %}"/> Sede</div>
								<p>Piazzale Maciachini, 11 20159<br>Milano MI, Italy. </p>
							</div>
							{% else %}
							<div class="mb-4">
								<div class="h3"><img src="{% static '/website/images/mail.png' %}"/>{% trans "E-MAIL" %}</div>
								<p><a href = "mailto: counselors@myfuturely.com">counselors@myfuturely.com</a></p>
							</div>
							<div class="mb-4">
								<div class="h2"><img src="{% static '/website/images/map-pin.png' %}"/> {% trans "Headquarters" %}</div>
								<p>405 Howard Street,<br>San Francisco,<br>California, 94105 United States.
								</p>
							</div>
							{% endif %}

						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>



{% block script %}
{% endblock%}
{% endblock%}