{% extends 'base_landing_website_auth.html' %}
{% load static %}
{% load i18n %}
{% load phrase_i18n %}
{% load widget_tweaks %}
{% block title %}
<title>Reset Password</title>
{% endblock %}
{% block style_sheet %}
<style>
	.error-msg{
		color: red;
	}
</style>
{% endblock %}
{% block content %}
<div class="main-content-block">
	<div class="login-block-main">
		<div class="container">
			<div class="d-flex flex-wrap">
				<div class="col-md-7 d-flex">
					<div class="login-image">
						<img src="{% static 'landing_website/images/auth-bg.png' %}">
					</div>
				</div>
				<div class="col-md-5">
					<form class="register-form" method="post">
						{% csrf_token %}
						<div class="back-division-block">
							<a href="javascript:void(0);" onclick="back_btn()"><img class="back-block-icon" src="{% static 'landing_website/images/back-arrow-icon.png' %}"></a>
						</div>
						<h4 class="form-title">La nuova password</h4>
						<p class="form-discription">Scegli una password nuova, differente dalle precedenti
							utilizzate. </p>
						<div class="row">
							{% if form.errors %}
								<div class="error-msg" style="color: red;">
									<p>{{ form.errors.new_password2 }}</p>
								</div>
							{% endif %}
							<div class="col-md-12">
								<div class="wrap-input100">
									<label class="form-label">Nuova password</label>
									<div class="wrap-input-inner">
											{{form.new_password1}}
											<img class="icon-input n_password-preview" onclick="passview('new_password1','n_password-preview','n_password-unpreview')" src="{% static 'landing_website/images/eye.svg' %}">
                                            <img class="icon-input n_password-unpreview" onclick="passview('new_password1','n_password-preview','n_password-unpreview')" src="{% static 'landing_website/images/eye-slash.svg' %}">
									</div>
									<div class="error-msg" id="id_password1_error">
										<p></p>
									</div>
								</div>
								<div class="wrap-input100">
									<label class="form-label">Ripeti la password</label>
									<div class="wrap-input-inner">
										{{form.new_password2}}
										<img class="icon-input re_password-preview" onclick="passview('new_password2','re_password-preview','re_password-unpreview')" src="{% static 'landing_website/images/eye.svg' %}">
                                        <img class="icon-input re_password-unpreview" onclick="passview('new_password2','re_password-preview','re_password-unpreview')" src="{% static 'landing_website/images/eye-slash.svg' %}">
									</div>
									<div class="error-msg" id="id_password2_error">
										<p></p>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="login-form-btn-block"><button type="submit"
										class="btn-filed login-form-btn">Conferma</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
<script>
	function passview(current_id, show_id, hide_id) {
		var x = document.getElementById(current_id);
		if (x.type === "password") {
			x.type = "text";
			$("."+show_id).show();
			$("."+hide_id).hide();
			//$("#pass_show_id").html('<i class="bi bi-eye" aria-hidden="true"></i>');
		}else{
			x.type = "password";
			$("."+show_id).hide();
			$("."+hide_id).show();
			//$("#pass_show_id").html('<i class="bi bi-eye-slash"></i>');
		}
	};

	$('#id_password1').keyup(function() {
        $("#id_password1_error p").text(checkStrength($('#id_password1').val()));
        {% if request.LANGUAGE_CODE == "it" %}
            check_password();
        {% else %}
            check_password_english();
        {% endif %}
        
    });

	function checkStrength(password) { 
		var strength = 0
		if (password.length < 6) {  
			is_password_valid = false;
			$('#id_password_error').removeClass();
			$('#id_password_error').addClass('error-msg');
			$('#id_password1').css('border', '1px solid #ff1313');
			$("#id_password_error p").text("{% trans 'Your password must contain 1 uppercase, 1 lowercase, 1 numeric, and has at least 6 characters.' %}");
				return "{% trans 'Your password must contain 1 uppercase, 1 lowercase, 1 numeric, and has at least 6 characters.' %}"
		}  
		if (password.length > 5) strength += 1  
		// If password contains both lower and uppercase characters, increase strength value.  
		if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) strength += 1  
		// If it has numbers and characters, increase strength value.  
		if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/)) strength += 1  
		// If it has one special character, increase strength value.  
		// If value is less than 2  
		if (strength < 3) {
			is_password_valid = false;
			$('#id_password_error').removeClass();
			$('#id_password_error').addClass('error-msg');
			$("#id_password_error p").text("{% trans 'Your password must contain 1 uppercase, 1 lowercase, 1 numeric, and has at least 6 characters.' %}");
			$('#id_password1').css('border', '1px solid #ff1313');
			return "{% trans 'Your password must contain 1 uppercase, 1 lowercase, 1 numeric, and has at least 6 characters.' %}"  
		} else {  
			$('#id_password_error').removeClass();  
			$('#id_password_error').addClass('strong-msg');
			$("#id_password_error p").text("");  
			$('#id_password1').css('border', '1px solid #000');
			is_password_valid = true;
			return ''  
		}  
	};

	$('#id_password2').keyup(function() {
		var password1 = document.getElementById("id_password1").value;
		var password2 = document.getElementById("id_password2").value;
		if(password1 != password2){
			$("#id_password2_error p").text('La password non corrisponde');
			$('#id_password2').css('border', '1px solid #ff1313');
		}else{
			$("#id_password2_error p").text('');
			$('#id_password2').css('border', '1px solid #000');
		}
    });


	function check_password_english(){
		var password = document.getElementById("id_password1").value;
		var confirm_password = document.getElementById("id_confirm_password_english").value;
		if(password != confirm_password) {
			$('#id_confirm_password_error_english').removeClass();
			$('#id_confirm_password_error_english').addClass('error-msg-confirm-english');
			$("#id_confirm_password_error_english p").text("Passwords do not match");
			$('#id_confirm_password_error_english').show();
			return "La password non corrisponde"
		}
		else{
			$('#id_confirm_password_error_english').removeClass('error-msg-confirm-english');
			$('#id_confirm_password_error_english').addClass('strong-msg');
			$("#id_confirm_password_error_english p").text("");
			$('#id_confirm_password_error_english').hide();
			return "";
		}
	};

	function check_password(){
		var password = document.getElementById("id_password1").value;
		var confirm_password = document.getElementById("id_confirm_password").value;
		if(password != confirm_password) {
			$('#id_confirm_password_error').removeClass();
			$('#id_confirm_password_error').addClass('error-msg-confirm');
			$("#id_confirm_password_error p").text("La password non corrisponde");
			return "La password non corrisponde"
		}
		else{
			$('#id_confirm_password_error').removeClass('error-msg-confirm');
			$('#id_confirm_password_error').addClass('strong-msg');
			$("#id_confirm_password_error p").text("");
			return "";
		}
	};
</script>
{% endblock %}