{% extends 'base_landing_website_auth.html' %}
{% load static %}
{% load i18n %}
{% load phrase_i18n %}
{% load widget_tweaks %}
{% block title %}
<title>index</title>
{% endblock %}
{% block content %}
	<div class="main-content-block">
		<div class="login-block-main">
			<div class="container">
				<div class="d-flex flex-wrap">
					<div class="col-md-7 d-flex">
						<div class="login-image">
							<img src="{% static 'landing_website/images/auth-bg.png' %}">
						</div>
					</div>
					<div class="col-md-5">
						<form class="register-form">
							<div class="back-division-block">
								<a href="javascript:void(0);" onclick="back_btn()"><img class="back-block-icon" src="{% static 'landing_website/images/back-arrow-icon.png' %}"></a>
							</div>
							<h4 class="form-title">La nuova password è stata salvata</h4>
							<p class="form-discription">Fai il login con le tue nuove credenziali.</p>
							<div class="row">
								<div class="col-md-12">
									<div class="login-form-btn-block"><a href="{% url 'login' %}"
											class="btn-filed login-form-btn">Vai al login</a>
									</div>
								</div>
							</div>
					</div>
					</form>
				</div>

			</div>
		</div>
	</div>
	{% endblock %}
	{% block script %}
    {% endblock %}
