{% extends 'base_landing_website_auth.html' %}
{% load static %}
{% load i18n %}
{% load phrase_i18n %}
{% load widget_tweaks %}
{% block title %}
<title>Reset Password</title>
{% endblock %}
{% block style_sheet %}
<style>
	.login-captcha label{
		display: none;
	}

	.errorlist{
		color: red;
	}

	.wrap-input100.login-captcha ul li {
		display: none;
	}

	#g-recaptcha-response {
		display: block !important;
		position: absolute;
		margin: -78px 0 0 0 !important;
		width: 302px !important;
		height: 76px !important;
		z-index: -999999;
		opacity: 0;
	}
</style>
{% endblock %}
{% block content %}
	<div class="main-content-block">
		<div class="login-block-main">
			<div class="container">
				<div class="d-flex flex-wrap">
					<div class="col-md-7 d-flex">
						<div class="login-image">
							<img src="{% static 'landing_website/images/auth-bg.png' %}">
						</div>
					</div>
					<div class="col-md-5">
						<form class="register-form" method="post" id="resetform">
							{% csrf_token %}
							<div class="back-division-block">
								<a href="{% url 'login' %}"><img class="back-block-icon" src="{% static 'landing_website/images/back-arrow-icon.png' %}"></a>
							</div>
							<h4 class="form-title">Ripristina la tua password</h4>
							<p class="form-discription">Inserisci l’indirizzo e-mail associato al tuo account. <br>
							Riceverai una mail con il link dal quale potrai 
							aggiornare la tua password. Usa sempre
							 l’ultimo link ricevuto.  </p>
							<div class="row">
								<div class="col-md-12">
									<div class="wrap-input100">
										<label class="form-label">E-mail</label>
										{% render_field form.email class='input100 field-input' placeholder='E-mail' %}
										{% if form.email.errors %}
											<p style="style=;color: red;">{{ form.email.errors }} </p>
										{% endif %}
										{% if error_message %}
										 	<p style="color: red;">{{ error_message }}</p>
										{% endif %}
										{% if success_message %}
										 	<p style="color: green;">{{ success_message }}</p>
										{% endif %}
									</div>
								</div>
								<div class="col-md-12">
									<div class="wrap-input100 login-captcha">
										{{ captcha }}
									</div>
								</div>
								<p style="color: red; display: none;" id="captcha_error_id_reset_form">Per favore verifica che non sei un robot</p>
								{% if captcha.captcha.errors %}
									<p style="style=;color: red;">Per favore verifica che non sei un robot.</p>
								{% endif %}
								<div class="col-md-12">
									<div class="login-form-btn-block"><button type="submit"
											class="btn-filed login-form-btn">Ripristina password</button>
									</div>
								</div>
							</div>
					</div>
					</form>
				</div>

			</div>
		</div>
	</div>
	{% endblock %}
	{% block script %}
	<script>
	    document.querySelector("#resetform").addEventListener("submit", function(e) {
		var recaptchaValue = document.querySelector("#g-recaptcha-response").value;
		if (!recaptchaValue) {
			e.preventDefault();
			$('#captcha_error_id_reset_form').show();
		}
	});
	</script>
    {% endblock %}
