body {
    font-family: Inter;
}

.outer {
    height: 700px;
    width: 800px;
    background-color: black;
    color: white;
    padding: 40px;
}

.content {
    background-color: rgba(26, 26, 26, 1);
    padding: 40px;
}

.btn_verify_email {
    height: 45px;
    width: 40%;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    color: #fff !important;
    border: 1px solid #333333 !important;
    background: linear-gradient(96.52deg, #00E6F9 7.68%, #0068FF 38.83%, #FE45C2 101.43%);
    box-shadow: #000;
    border-radius: 10px;

}