/* Base auth Header part */

/*
body {
  background: url(../images/hubble-telescope-nasa-101.svg)#16171B;
  background-size: cover;
  background-repeat: no-repeat;
}*/
body {
  background:#000;
}
@keyframes sf-fly-by-1 {
  from {
      transform: translateZ(-600px);
      opacity: 0.5;
  }
  to {
      transform: translateZ(0);
      opacity: 0.5;
  }
}
@keyframes sf-fly-by-2 {
  from {
      transform: translateZ(-1200px);
      opacity: 0.5;
  }
  to {
      transform: translateZ(-600px);
      opacity: 0.5;
  }
}
@keyframes sf-fly-by-3 {
  from {
      transform: translateZ(-1800px);
      opacity: 0.5;
  }
  to {
      transform: translateZ(-1200px);
      opacity: 0.5;
  }
}
.star-field {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 700px;
  -webkit-perspective: 700px;
  overflow: hidden;
}
.star-field .layer {
  box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7,
      524px -237px #f0f0f0, 679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
      440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
      -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed,
      -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
      828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
      624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2,
      563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
      -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
      -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  border-radius: 10px;
}
.star-field .layer:nth-child(1) {
  animation: sf-fly-by-1 9s linear infinite;
}
.star-field .layer:nth-child(2) {
  animation: sf-fly-by-2 9s linear infinite;
}
.star-field .layer:nth-child(3) {
  animation: sf-fly-by-3 9s linear infinite;
}

.about-login-slider .disabled {
  display: none;
}
.about-login-slider .owl-dots button.active {
  background: #fff !important;
}
.about-login-slider .owl-dots {
  text-align: center;
}
.about-login-slider .owl-dots button {
  background: #A1A1A1 !important;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
}
.login-title-prop{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
.login-title-padding{
  padding-left: 7px;
}
.main {
  position: relative;
}
.header .profile {
   height: inherit; 
   /* margin-bottom: 50%; 
  margin-top: 50%; */
   margin-left: auto; 
   margin-right: auto; 
  flex: 0 0 auto;
  width: 100%;
  position: relative;
}
.header .profile img {
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  
}

.header .profile h4.text-light:after {
  content: "";
  width: 100%;
  background: transparent;
  border: solid 2px #0f0;
  box-sizing: border-box;
  border-radius: 10px;
  border-image-slice: 10;
  border-image-repeat: round;
  border-image-width: 10px;
  border-image-source: url(../images/Interactive-exercise.png);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.header .profile h4 {
  font-size: 14px;
  margin: 0 auto;
  padding: 13px 20px;
  color: white;
  font-weight: 600;
  text-align-last: center;
  font-family:  sans-serif;
  
  border-color: linear-gradient(96.52deg, #FFBE42 7.68%, #FD7B34 38.83%, #FE45C2 101.43%);
  border-radius: 10px;
  width: max-content;
  position: relative;
}
.header .profile h4 a, .header .profile h4 a:hover {
  color: #fff;
  text-decoration: none;
}
.header .profile .about p {
  display: inline-block;
  color: #fff;
  font-size: 15px;
  margin: 0 30px 0 30px;
}
/* Ui auth inner-page */
.main .main-container {
  /* margin-top: 15%; */
  position: relative;
}
.main .main-container-signup2{
  margin-top: 4%;
}
.main .main-container-signup2 .form-setup {
  margin-top: 12px !IMPORTANT;
}
.form-head-text{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
.form-intro{
  color: white;
}
.form-setup{
  margin-top: 30px !important;
}
.border-grad{
  padding: 1px !important;
  margin-bottom: 20px;
  border-radius: 10px !important;
}

.border-grad:hover{
  background: linear-gradient(96.52deg, #00E6F9 7.68%, #0068FF 38.83%, #FE45C2 101.43%);
}
.text-box{
  height: 45px;
  border-radius: 10px !important;
  padding: 10px 15px;
  background: #333333 !important;
  border: 1px solid #2E2F32!important; 
  box-sizing: border-box !important;
  color: #fff !important;
  font-size: 15px;
  
}
/*
.text-box:hover{
  border: 1px solid !important;
  border-color: linear-gradient(96.52deg, #00E6F9 7.68%, #0068FF 38.83%, #FE45C2 101.43%) !important;
}
*/
.sign-btn{
  height: 45px;
  border-radius: 10px !important;
  padding: 10px;
  box-sizing: border-box ;
  color: #fff !important;
  border: 1px solid #333333!important;
}
.sign-btn-next{
  background: linear-gradient(116.59deg, #0068FF 10.15%, #B179F0 56.38%, #B893BA 77.61%, #CE8991 100.73%);
box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
border-radius: 10px;
  border: 1px solid #333333!important;
}
.sign-btn-next:hover{
  border: 1px solid !important;
}
.divBtnBack{
  margin-bottom: 25px !important;
}
.btnBack {
  color: white !important;
  font-size: 25px !important;
  text-decoration: none !important;
  background-color: transparent;
  border: transparent;
}
.btnBack i{
  font-weight: bold;
}
.btnBack:hover{
  color: #0068FF !important;
}
.extraHref{
  text-decoration: none !important;
}
label.form-check-label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #fff;
  box-shadow: 0 1px 2px rgb(0 0 0 / 5%), inset 0px -15px 10px -12px rgb(0 0 0 / 5%);
  padding: 6px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 3px;
}
.form-check-input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
p#id_company_name_p .select-box {

  border: 1px solid #dddddd57 !important;
}
.select-box {
  height: 45px;
  border-radius: 10px !important;
  padding: 10px 15px;
  border: 1px solid #2E2F32!important;
  color: #fff !important;
  background-color: #333333 !important;
  background-image: url("../images/dropdown.svg") !important;
  font-size: 15px;

}
.form-check label a {
  color: #00C7FA !important;
  text-decoration: underline !important;
}
.form-check {
  margin: 0 0 22px;
  padding: 0 3px;
}
.form-check label {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  position: relative;
}
.uploading-btn a {
  background: #6A6A6A;
  border-radius: 10px;
  padding: 10px 17px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.03em;
  color: #D9D9D9;
}
.uploading-blocke h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
.uploading-blocke {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.uploading-blocke img {
  width: 52px;
}
.form-check input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 6px;
  height: 9px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate( 
45deg
);
}
div#privcy-policy-modal .modal-content {
  background: #26272B;
  box-shadow: 0px 5px 40px #000000;
  border-radius: 24px;
  padding: 15px;
}
div#privcy-policy-modal .modal-content .modal-title {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -0.03em;
  color: #FFFFFF;

  margin: 0 0 10px;
  
}
div#privcy-policy-modal .modal-body {
  height: 400px;
  overflow-y: scroll;
}
div#privcy-policy-modal .modal-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  background-color: #545454;
}
div#privcy-policy-modal .modal-body::-webkit-scrollbar {
  width: 8px;
  background-color: #363739;
}
div#privcy-policy-modal button.btn-close {
  background: url(../images/close.png);
  background-repeat: no-repeat;
}
div#privcy-policy-modal .modal-body:-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  border-radius: 10px;
  background-color: #363739;
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  border-radius: 10px;
  background-color: #26272b;
}
div#privcy-policy-modal .modal-body p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: #B5B5B5;
}
.chk-box{
  margin-bottom: 20px !important;
}
.pass-show img {
  width: 18px;
}
.a-forgot-pass{
  float: right;
  margin-top: -10px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
    letter-spacing: -0.03em;
}
.pass-show{
  color: #9B9FA6;
  font-size: 14px;
  margin-top: -44px;
  float: right;
  padding-top: 5px;
  padding-right: 10px;
}
.pass-show .bi {
  font-size: 22px;
}
.pass-show:hover{
  color: #fff;
}
.error-msg{
  color: #F94141;
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

.good-msg{
  color: #e0e411;
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

.strong-msg{
  color: #69e250;
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

.outer{
  min-height: 1000px ;
  height: 100% !important;
  width: 100%;
  background-color: black;
  color: white;
  padding-top: 40px;
  padding-bottom: 50px;
  font-family: Inter;
  font-style: normal;
  
}
.inner{
  width: 100%;
  color: white;
}

.cred-div{
  width: 65% !important;
  margin-left: auto !important;
  margin-right:auto !important;
  margin-top: 40px;
}
.cred-heading{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 126.02%;
  /* or 40px */
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.content-grad{
  width: 100%;
  padding: 1px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
.content-grad-confirm{
  width: 55%;
  padding: 1px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

.content{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 10px;
}

.font-ordr{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
.col-space{
  margin-top:10px;
  margin-bottom: 30px;
}
.fire-gard{
  width: 200px;
  height: 45px;
  border-radius: 10px !important;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6px;
  margin-bottom: 10px;
}

.btn-fire-gard {
  width: 100%;
  padding: 1px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  appearance: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background-color: rgba(26, 26, 26, 1);
  border-radius: 10px !important;
  height: 43px;
  background: #333333 !important;
  border: 1px solid #333333 !important;
  box-sizing: border-box !important;
  color: #fff !important;
  text-transform: none;
}
.pay-border-grad{
  padding: 1px !important;
  border-radius: 10px !important;
}
.pay-border-grad:hover{
  background: linear-gradient(96.52deg, #00E6F9 7.68%, #0068FF 38.83%, #FE45C2 101.43%) !important;
}
.btn-pay{
  width: 100%;
  cursor: pointer;
  background: linear-gradient(116.59deg, #0068FF 10.15%, #B179F0 56.38%, #B893BA 77.61%, #CE8991 100.73%);
box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border: 1px solid #333333 !important;
  height: 45px;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  color: #fff !important;
  text-transform: none;

  border-radius: 10px !IMPORTANT;
}

.tot-amount{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
}
.sqr-box{
  height: 48px;
  width: 48px;
  background: linear-gradient(96.52deg, #00E6F9 7.68%, #0068FF 38.83%, #FE45C2 101.43%) !important;
  border-radius: 10px;
  
}
.sqr-img{
opacity: 0.6;
}
.prod-head{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
.prod-data{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 4px;
  letter-spacing: -0.03em;
  color: #9B9FA6;
}

.font-description{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.03em;
  
  color: #D4D4D4;
 }
 .cred-card {
  border-radius:10px ;
  width: 100%;
  height: 45px;
  border-radius: 10px;
  padding: 15px !important;
  background: #333333 !important;
  border: 1px solid #333333!important; 
  box-sizing: border-box !important;
  color: #fff !important;
  font-size: 14px;
}

  .result-message {
    line-height: 22px;
    font-size: 16px;
  }
  
  .result-message a {
    color: rgb(89, 111, 214);
    font-weight: 600;
    text-decoration: none;
  }
  
  .hidden {
    display: none;
  }
  
  #card-error {
    color: rgb(105, 115, 134);
    text-align: left;
    font-size: 13px;
    line-height: 17px;
    margin-top: 12px;
  }

  #payment-request-button {
    margin-bottom: 32px;
  }
  

  /* spinner/processing state, errors */
  .spinner,
  .spinner:before,
  .spinner:after {
    border-radius: 50%;
  }
  .spinner {
    color: #ffffff;
    font-size: 22px;
    text-indent: -99999px;
    margin: 0px auto;
    position: relative;
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 0 2px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .spinner:before,
  .spinner:after {
    position: absolute;
    content: "";
  }
  .spinner:before {
    width: 10.4px;
    height: 20.4px;
    background: #5469d4;
    border-radius: 20.4px 0 0 20.4px;
    top: -0.2px;
    left: -0.2px;
    -webkit-transform-origin: 10.4px 10.2px;
    transform-origin: 10.4px 10.2px;
    -webkit-animation: loading 2s infinite ease 1.5s;
    animation: loading 2s infinite ease 1.5s;
  }
  .spinner:after {
    width: 10.4px;
    height: 10.2px;
    background: #5469d4;
    border-radius: 0 10.2px 10.2px 0;
    top: -0.1px;
    left: 10.2px;
    -webkit-transform-origin: 0px 10.2px;
    transform-origin: 0px 10.2px;
    -webkit-animation: loading 2s infinite ease;
    animation: loading 2s infinite ease;
  }
  
  .bg-grad{
    background: linear-gradient(96.52deg, rgba(0, 230, 249, 0.75) 7.68%, rgba(0, 104, 255, 0.75) 38.83%, rgba(254, 69, 194, 0.75) 101.43%) !important;
}
.bg-grad-inactive{
    background: linear-gradient(96.52deg, rgba(0, 230, 249, 0.75) 7.68%, rgba(0, 104, 255, 0.75) 38.83%, rgba(254, 69, 194, 0.75) 101.43%) !important;
    opacity: 0.5;
}
.card-details{
    padding: 10px;
}
.date-box{
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
}
.course-card-heading{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.card-btn{
    position:absolute;
    height: 45px;
    background: #FFFFFF;
    border-radius: 10px;
    color: #0068FF;
    width: 140px;
    border: 1px solid #ffffff;
}
.card-btn-2{
    position:absolute;
    height: 45px;
    background: #333333;
    border-radius: 10px;
    color: #FFFFFF;
    width: 140px;
    border: 1px solid #333333;
}
.course-card-amount{
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    float: right;
}
.inactive-module{
    width: 186px;
    height: 54px;
    background: #333333;
    border-radius: 10px;
    text-align: center;
    padding-top: 15px;
    opacity: 0.5;
}
.inactive-font{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #D9D9D9;
}

  @-webkit-keyframes loading {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes loading {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .uploading-btn input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 150px;
    opacity: 0;
    cursor: pointer;
}

.uploading-btn {
  position: relative;
  cursor: pointer;
}
.six-p {
  background: #26272B;
  box-shadow: 0px 5px 40px #000000;
  border-radius: 24px;
  padding: 15px;
}
.six-p .modal-title {
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  font-style: normal;
  letter-spacing: -0.03em;
}
.six-p-p{
    font-weight: 400;
    font-size: 15px;
    color: #D9D9D9;
}

.six-p-conti{
    width: 440.83px;
    height: 45px;
    background: linear-gradient(
      116.59deg
      , #0068FF 10.15%, #B179F0 56.38%, #B893BA 77.61%, #CE8991 100.73%);
          box-shadow: 0px 100px 80px rgb(0 0 0 / 2%), 0px 64.8148px 46.8519px rgb(0 0 0 / 2%), 0px 38.5185px 25.4815px rgb(0 0 0 / 1%), 0px 20px 13px rgb(0 0 0 / 1%), 0px 8.14815px 6.51852px rgb(0 0 0 / 1%), 0px 1.85185px 3.14815px rgb(0 0 0 / 0%);
          border-radius: 10px;
    color: #fff;
    border: none;
}
.modal-title, .cross-m{
    color: #fff;
}
.cross-m{
  color: #fff;
  background-color: transparent;
  border: none;
}
.register-dialog-text:hover, .register-dialog-text:active, .register-dialog-text:focus {
  border-color: blue !important;
}
.modal-backdrop
{
    opacity:0.5 !important;
}
.modal-header {
    border-bottom: 0 none !important;
}

.modal-footer {
    border-top: 0 none !important;
}
.middle-payment-button-lower{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.order-image-size{
  height: 40px;
  width: 40px;
  border-radius: 10px;
}
.payment-price-padding{
padding-top: 21px;
}
.blank-div-botton-border{
  width: 96%;
  border-bottom: 1px solid;
  border-color: #363945;
  margin-bottom: 9px;
}
.order-item-title-font{
margin-left: 49px;
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.03em;
color: #FFFFFF;
}
.margin-payment-detail{
margin-top: 20px !important;
}
.order-item-des-font{
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 28px;
/* identical to box height */
letter-spacing: -0.03em;
color: #9B9FA6;
}
.all-price-title{
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.03em;
color: #D5D5D5;
}
.order-item-price-tag{
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 126.02%;
/* identical to box height, or 23px */

text-align: right;
letter-spacing: -0.03em;

color: #FFFFFF;
}
.order-item-cent{
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 126.02%;
/* identical to box height, or 23px */

text-align: right;
letter-spacing: -0.03em;

color: #FFFFFF;
}
.order-item-border-bottom{
width: 94% !important;
  border-bottom: 1px solid;
  margin-left: auto;
  margin-right: auto;
}
.margin-right-div-auto{
margin-right: auto;
}
.confirmed-bottom-border{
  width: 100%;
  border-bottom: 1px solid;
  border-color: #363945;
  margin-bottom: 9px;
}
.div-backcolor-content {
  margin-top: 5px !important;
  border-radius: 10px;
  background: #26272B;
  box-shadow: 9px 9px 16px rgb(0 0 0 / 40%), -6px -9px 29px rgb(65 68 74 / 32%);
  padding: 10px 35px 22px !important;
}
.payment-type-height{
height: 49px;
}
.payment-type-button-margin{
margin-top: 45px;
width: 410px;
}
.spacing-payment-type{
margin-left: 92px;
}
.middle-space-payment{
float: left;
  min-height: 100%;
  width: 10px !important;
}
.padding-payment{
padding-top: 17% !important;
}
.login-height{
  min-height: 100vh;
}

.register-fill-form{
  margin-left: 0;
  font-weight: 800;
}
.btn-apply{
  height: 42px !important;
  margin-top: 1px !important;
  color: white !important;
  background: grey !important;
border: none ;
padding: 9px 14px !important;
}

.btn-apply:hover{
  border: 1px solid blueviolet !important;
}
.register-dialog-text {
  background-color: #2E2F32 !important;
  border: 1px solid #dddddd57 !important;
  outline: none !important;
  color: #fff !important;
    font-size: 15px !important;
    font-weight: 300 !important;
    padding: 0.8rem 2.25rem 0.8rem 0.8rem !important;
    height: 45px !important;
    border-radius: 10px !important;
    width: 70% !important;
    float: left;
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * (1px));
  left: calc(-1 * (1px));
  height: calc(100% + (1px) * 2);
  width: calc(100% + (1px) * 2);
  background: linear-gradient(
60deg
, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * (1px));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  border-radius: 10px;
}
.gradient-border span {
  padding: 8px 15px;
  background: #26272b;
  display: block;
  border-radius: 10px;
}
.btn.gradient-border {
  color: #ffffff9e;
  background: transparent;
  padding: 0px;
  border-radius: 10px;
  font-size: 12px;
  border-width: 1px;
  transition: all .5s;
  z-index: 11;
  position: relative;
  width: auto !important;
  height: auto !important;
  padding: 0 !important
}

.pass-show .fa-eye, .pass-show .fa-eye-slash {
  font-size: 18px;
}
.border-grad label.error {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #FE2A2A;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  color: #fff !important;
  font-size: 15px;
}

@keyframes animatedgradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}
border-grad .select2-container--default .select2-selection--single span {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
  }
  .border-grad .select2-container--default {
    width: 100% !important;
  }
  .border-grad .select2-container--default .select2-selection--single {
    height: 45px;
    border-radius: 10px !important;
    padding: 10px;
    border: 1px solid #2E2F32!important;
    color: #fff !important;
    background-color: #333333 !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    background-image: url(../images/dropdown.svg) !important;
      background-repeat: no-repeat;
      background-position: right .75rem center;
      background-size: 16px 12px;
  }
  .border-grad .select2-container--default .select2-selection--single span.select2-selection__arrow {
    display: none;
  }
  .select2-dropdown {
    background-color: #333333;
    padding: 10px;
    color: #fff !important;
  }
@media (min-width:768px) {
  .modal.fade.show {
    display: flex !important;
    align-items: center;
  }
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  background-color: #545454;
}
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar {
  width: 8px;
  background-color: #363739;
}
.select2-container--default .select2-results>.select2-results__options:-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  border-radius: 10px;
  background-color: #363739;
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  border-radius: 10px;
  background-color: #26272b;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
  background-color: #ca6a35 !important;
  color: rgb(255, 255, 255) !important;
  font-size: 1rem !important;
}
.select2-results__option--selectable {
  cursor: pointer;
  font-size: 15px !important;
  color: #9B9FA6 !important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
  font-size: 15px !important;
  color: #9B9FA6 !important;
}
.trans-back{
  background-color: transparent !important;
}

.btn-dis-border{
  border-radius: 10px !important;
}
.margin-bottom-none{
  margin-bottom: 0px !important;
}
.modal-body b {
  float: left;
  font-size: 14px;
}
.modal-body ul li {
  color: #B5B5B5;
  font-size: 13px;
}
.fleft{
  font-size: 16px !important;
}
.banner-futurelab{
  position: relative;
  top: 10px;
}
.banner-futurelab2 {
  position: relative;
  /* top: -50px; */
  padding-right: 50px;
}
.notification-bars {
  background: linear-gradient(
96.52deg
, #622BFF 7.68%, #0068FF 56.15%, #24BAFB 89.92%, #05D8EA 112.25%);
  border: none !important;
  color: #fff;
  border-color: transparent;
  position: relative;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.7rem;
  font-size: 16px;
  font-weight: 400;
}

.steps.clearfix ul li {
  position: relative;
  padding: 0 20px;
  list-style: none;
}

.steps.clearfix ul li .step {
  width: 24px;
  height: 24px;
  background: linear-gradient(135deg, #D1D1D1 0%, #5F5F5F 100%);
  border-radius: 50%;
  justify-content: center;
  font-weight: 500;
  font-size: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -1.08333px;
  color: #FFFFFF;
}
.steps.clearfix ul li.active .step {
  background: linear-gradient(96.52deg, #00E6F9 7.68%, #0068FF 38.83%, #FE45C2 101.43%);
}
.steps.clearfix ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.steps.clearfix ul li a {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.steps.clearfix ul li:first-child:after {
  content: "";
  background: #242424;
  width: 35px;
  height: 5px;
  position: absolute;
  right: 0px;
  top: 9px;
  z-index: -1;
}

.steps.clearfix ul li:last-child:after {
  content: "";
  background: #242424;
  width: 35px;
  height: 5px;
  position: absolute;
  left: 0px;
  top: 9px;
  z-index: -1;
}
.steps.clearfix ul li:nth-child(2):after {
  content: "";
  background: #242424;
  width: 35px;
  height: 5px;
  position: absolute;
  left: 0px;
  top: 9px;
  z-index: -1;
}
.steps.clearfix ul li:nth-child(2):before {
  content: "";
  background: #242424;
  /* width: 35px; */
  height: 5px;
  position: absolute;
  right: 0px;
  top: 9px;
  z-index: -1;
}
.steps.clearfix ul li:nth-child(2).active::after {
  width: 80px;
  left: -40px;
  background: linear-gradient(96.52deg, #00E6F9 7.68%, #0068FF 38.83%, #FE45C2 101.43%);
}
.steps.clearfix ul li.active::after {
  background: linear-gradient(96.52deg, #00E6F9 7.68%, #0068FF 38.83%, #FE45C2 101.43%);
}
.border-grad-inner .form-label-text {
  position: absolute;
  cursor: text;
  z-index: 2;
  top: 12px;
  left: 15px;
  font-size: 15px;
  color: #9B9FA6;
  transition: all .3s ease;
  pointer-events: none;
}
.border-grad-inner {
  position: relative;
}
.border-grad-inner .otp-phone {
  position: absolute;
  right: 15px;
  top: 11px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #fff;
  border-bottom: 1px solid #fff;
  z-index: 2;
  cursor: pointer;
}
.tooltip-pop {
  position: absolute;
  right: -35px;
  top: 9px;
}
.tooltip-pop.in-filed {
  right: 15px;
}
.tooltip-pop:hover:before {
  border: solid;
  border-color: #fff transparent;
  border-width: 12px 10px 0 10px;
  content: "";
  left: 50%;
  bottom: 32px;
  position: absolute;
  transform: translateX(-50%);
}
.tooltip-pop:hover:after {
  content: attr(title);
  font-size: 14px;
  padding: 15px;
  width: 220px;
  background: #FFFFFF;
  border-radius: 10px;
  font-weight: 500;
  letter-spacing: -0.03em;
  color: #222121;
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
}
.field-input::placeholder {
  color: transparent;
}
.steps.clearfix ul li:last-child.active::after {
  width: 80px;
  left: -40px;
}
.divBtnBack.abs-back a i {
  font-size: 24px;
}
.divBtnBack.abs-back {
  position: absolute;
  left: 10px;
  top: -6px;
}
.steps.clearfix {
  position: relative;
  margin-top: 8px;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0 30px #333333 inset !important;
}
.hide-otp-before {
  display: none;
}
input.field-input.c-fix ~ label, input.field-input:focus ~ label, .border-grad-inner input.field-input:not(:placeholder-shown) ~ label {
  font-size: 13px;
  top: -8px;
  color: #9B9FA6;
}



.mobile-testimonial-main-card {
  background: linear-gradient(211.63deg, #FFFFFF -2.41%, #D5D8F4 100%);
  opacity: 0.9;
  box-shadow: 0px 4px 20px rgb(192 192 192 / 20%);
  border-radius: 20px;
  display: block;
  padding: 25px;
  width: 100%;
  margin: 38px auto;
}
.mobile-testimonial-main-card-header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 18px;
  align-items: center;
  column-gap: 12px;
}
.mobile-user-auth {
  padding: 0 30px;
}

.mobile-testimonial-main-card-header img {
  background: #fff;
  padding: 0;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 0 !important;
}
.mobile-testimonial-main-card-body p {
  color: #333;
  font-size: 16px;
  font-weight: 500;
}
.mobile-testimonial-main-card-header h3 span {
  color: #6d6d6d;
}
.mobile-sign-button {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  text-transform: capitalize;
  height: auto;
  background: linear-gradient(160deg, #0068FF 10.15%, #B179F0 56.38%, #B893BA 77.61%, #CE8991 100.73%) !important;
}
.mobile-transparent-button {
  background-color: transparent !important;
  border: none !important;
  font-weight: 600;
  font-size: 18px;
}
.mobile-testimonial-main-card-header h3 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  margin-bottom: 15px;
}
.mobile-login-header h1 {
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
.mobile-login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 18px;
  padding: 0 1.5rem;
}
.mobile-label-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.03em;
  color: #9B9FA6;
  margin-bottom: 6px;
}
.mobile-btn-agree a {
  color: inherit;
}
.mobile-login-height {
  margin: 12px 0;
}
.sign-up-row .col-xs-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.custom-radio-sign-up label {
  background: #2E2F32;
  border: 2px solid #2E2F32;
  border-radius: 5px;
  width: 100%;
  display: block;
  padding: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  padding-left: 30px;
}
.custom-radio-sign-up [type="radio"]:checked + label:after {
  opacity: 1;
}
.custom-radio-sign-up [type="radio"] + label:after {
  content: "";
  background: linear-gradient(96.52deg, #00E6F9 7.68%, #0068FF 38.83%, #FE45C2 101.43%);
  border-radius: 5px;
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  z-index: -1;
  transition: all .5s;
  opacity: 0;
}
.custom-radio-sign-up [type="radio"]:checked + label:before {
  background: linear-gradient(96.52deg, #00E6F9 7.68%, #0068FF 38.83%, #FE45C2 101.43%);
  border:none !important;
}
.custom-radio-sign-up [type="radio"]:checked + label:before, .custom-radio-sign-up [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 14px;
  width: 14px;
  height: 14px;
  border: 3px solid #ddd;
  border-radius: 100%;
}
.custom-radio-sign-up [type="radio"]:checked, .custom-radio-sign-up [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.row.sign-up-row {
  margin-bottom: 12px;
  margin-left: -5px;
  margin-right: 5px;
}
.sign-up-row .col-xs-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
  padding-left: 5px;
  padding-right: 5px;
}
.mobile-form-login-up {
	flex-direction: column;
	align-items: center;
	min-height: calc(100vh - 330px);
	justify-content: space-between;
	flex-wrap: nowrap;
	margin: 0;
  padding: 0;
}
.center-success-div {
height: calc(100vh - 220px);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
#success-reset-step h5 {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
.mobile-btn-agree strong {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.03em;
  text-decoration-line: underline;
  color: #FFFFFF;
}
.mobile-form-login-up .border-grad {
  margin-bottom: 12px;
}
.half-flex {
  flex: 0 0 auto;
  width: 48%;
}
.mobile-btn-agree {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #D9D9D9;
  text-align: center;
  width: 100%;
  display: inline-block;
}
.mobile-text-input::placeholder {
  color: #9B9FA6 !important;
}

.mobile-text-input {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.03em;
  color: #FFFFFF !important;
  background: #2E2F32 !important;
}
.mobile-form-login-up .border-grad {
  position: relative;
}
.edit-mobile-nm {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.03em;
  text-decoration-line: underline;
  color: #FFFFFF;
}
.bottom-mobile-sub-text {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  margin-top: -4px;
}
.bottom-mobile-sub-text span {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #D9D9D9;
}
.border-grad .contry-code-lists .select2-container--default .select2-selection--single {
  background-color: #2E2F32 !important;
  background-position: right 0.3rem center;
  background-size: 10px 7px;
  height: auto;
  padding: 7px;
}
.bottom-mobile-sub-text span.resent-otp-nm {
  text-decoration-line: underline;
}
.notification-bars.text-center {
  background: url(../images/sign-up-banner-new.png);
  padding: 18px;
  margin-right: 30px;
  font-size: 22px;
  letter-spacing: -0.035em;
  font-weight: 500;
  background-repeat: no-repeat;
  background-size: 100%;
}
.banner-top-sign-new.notification-bars.text-center {
  background-image: url(../images/blue-bubbles.png);
  background-position: left center;
  background-size: contain;
  background-color: #266AF6;
  margin-right: 0;
}
.error-message.invaild {
  color: #EA454B;
}

.error-message {
  position: absolute;
  right: 15px;
  top: 12px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
}
.error-message.success {
  color: #70F099;
}
.error-message.week {
  color: #f3dc0e;
}
.border-grad-inner .otp-phone.out-filed {
  right: -85px;
}
.height-100vh {
  height: calc(100vh - 24px);
}
.logo-footer-login {
  position: absolute;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contry-code-input .mobile-text-input {
	padding-left: 95px;
}
.contry-code-lists select {
	font-weight: 400;
	font-size: 16px;
	letter-spacing: -0.03em;
	color: #FFFFFF !important;
	/* background: #2E2F32; */
	height: 45px;
	border-radius: 10px !important;
	padding-left: 5px;
	border: 1px solid #2E2F32;
	box-sizing: border-box !important;
}

.border-grad.mobile-grad-border .select2-container--default .select2-selection--single {
  background-color: #2e2f32 !important;
}
.contry-code-lists {
	position: absolute;
	left: 0;
	top: 0;
}
.contry-code-input {
	position: relative;
}
.logo-header-login {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 7s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-transition-property: -moz-transform;
  -moz-animation-name: rotate;
  -moz-animation-duration: 7s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  transition-property: transform;
  animation-name: rotate;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(-360deg);}
}

@-moz-keyframes rotate {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(-360deg);}
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(-360deg);}
}
@keyframes full-circle {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
@media (max-width: 991.98px) {
  .header .profile {
      margin: 0 0 28px !important;
  }
}
@media (max-width:767px) {
  .main {
    padding: 0;
  }
  .header .profile img {
    margin-top: 20px;
}
  .border-grad-inner .otp-phone {
    right: 40px;
}
  .tooltip-pop {
    right: 10px;
}
  .steps.clearfix {
    margin-bottom: 20px;
}
form.row.form-setup {
  margin: 0 !important;
}
button:hover {
  transform: scale(1.02);
  transform-origin: 0 0;
}

.notification-bars {
  font-size: 12px;
  padding-right: 40px;
}
.main .form-intro.row .col-sm-12.p-t-20 {
  padding: 0 30px;
  margin-top: 10px;
}
form#signup2_form .row>* {
  padding: 0;
}
form#signup2_form .row {
  margin: 0;
}
}

