{% extends 'base_landing_website.html' %}
{% load static %}
{% load i18n %}
{% load phrase_i18n %}
{% load widget_tweaks %}
{% block title %}
<title>Company</title>
{% endblock %}

{% block content %}
<div class="main-content-block">
	<section class="corporate-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mb-4">
					<div class="corporate-title-content">
						<h1 class="h1">La soluzione per welfare aziendale, social impact ed employer branding</h1>
						<p>Il nostro ecosistema di percorsi di orientamento può essere integrato nei cataloghi welfare di ogni azienda e avere un forte impatto sociale. Fornisce ai dipendenti uno strumento utile, completo e personalizzato per orientare i propri figli verso il futuro.</p>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 d-flex">
					<div class="corporate-card">
						<h5 class="h5">IL WELFARE NON PIACE</h2>
							<h2 class="h2">38%</h2>
							<h3 class="h3">L’indice di gradimento dei servizi welfare</h3>
							<p>Sono sempre più basse le valutazioni attribuite dai dipendenti ai servizi di welfare offerti dalla propria azienda.
								Molti dichiarano che non è la quantità a fare la differenza ma la tipologia di servizi, e quanto questi siano davvero utili nella vita di tutti i giorni.</p>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 d-flex">
					<div class="corporate-card">
						<h5 class="h5">CONTRO LE DIMISSIONI</h2>
							<h2 class="h2">-45%</h2>
							<h3 class="h3">Fidelizzazione dei dipendenti verso la propria azienda</h3>
							<p>Sempre più dipendenti vorrebbero che l’azienda si occupasse del proprio benessere e wellbeing, concentrandosi su problemi personali e quotidiani. Questo si traduce spesso in una mancata fidelizzazione e dimissioni più frequenti.</p>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 d-flex">
					<div class="corporate-card">
						<h5 class="h5">L’EMPLOYER BRANDING</h2>
							<h2 class="h2">1 su 7</h2>
							<h3 class="h3">Aziende che aiutano il proprio territorio con azioni mirate</h3>
							<p>Pochissime aziende pianificano e mettono in atto azioni e progetti per sostenere il territorio di appartenenza, come le scuole e le realtà benefiche. Questo crea una forte distanza tra realtà affermate e le persone.</p>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 d-flex">
					<div class="corporate-card">
						<h5 class="h5">I NUMERI DELLE AZIENDE</h2>
							<h2 class="h2">90%</h2>
							<h3 class="h3">L’impatto sociale di progetti di corporate responsibility</h3>
							<p>I numeri ci dicono che quando un’azienda sceglie di costruire progetti per il proprio territorio, ha dei ritorni significativi in termini di immagine, reputazione e considerazione da parte di molti stakeholder.</p>
					</div>
				</div>
				<div class="col-md-12 text-center">
					<a href="#contactform" class="mt-3 mt-lg-5 btn-filed bg-color-pool text-color-black">Richiedi una demo</a>
				</div>
			</div>
		</div>
	</section>
	<section class="benefit-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="benefit-content">
						<h5 class="h5">SCEGLI DI FARE LA DIFFERENZA</h5>
						<h2 class="h2">I nostri servizi per le aziende</h2>
						<ul>
							<li><b>Per il welfare e il wellbeing</b><br>
								Accompagna i tuoi dipendenti genitori e i loro figli <br
								class="d-none d-lg-block">nell’orientamento scolastico. <br> 
								</li>
							<li><b>Per la territorialità</b>
							<br>Adotta le scuole del tuo territorio e incontra gli <br
							class="d-none d-lg-block">studenti per aumentare l’employer branding.
						</li>
							

						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="benefit-image new-dg">
						<img class="w-100" src="{% static 'landing_website/images/benefit-img.png' %}"
							alt="benefit-img">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mt-4 mt-lg-5 mb-3 mb-lg-5">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="benefit-card">
						<h2 class="h2">Percorso orientamento medie</h2>
						<p>Per guidare i ragazzi nella sceltadelle scuole superiori più adatte a loro.</p>
					</div>
					<div class="benefit-card benefit-second-card">
						<h2 class="h2">Percorso orientamento superiori</h2>
						<p>Per fornire ad ogni giovane gli strumenti necessari per conoscere il mondo dell’università e degli ITS.</p>
					</div>
					<div class="benefit-card benefit-third-card">
						<h2 class="h2">Genitorialità</h2>
						<p>Supportiamo i genitori nel delicato compito di accompagnare i propri figli nella scelta del percorso di studi e avere un ruolo attivo nella scelta del loro futuro.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="benefit-content">
						<h5 class="h5">Il benessere a supporto dei dipendenti  </h5>
						<h2 class="h2">L’orientamento dei figli al centro del wellbeing</h2>
						<p>Non solo ticket, sconti e viaggi: ora il welfare aziendale può essere utilizzato per dare <b>un supporto concreto e reale ai propri dipendenti.</b> Futurely sta facendo la differenza per tutte le aziende che cercano un modo per aiutare i propri dipendenti a costruire il <b>futuro dei propri figli,</b> mettendoli nelle condizioni di <b>comprendere meglio chi sono</b> e <b>chi vogliono diventare.</b></p>
						<p>Significa <b>prendersi cura del benessere </b>dei propri dipendenti e delle loro famiglie.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="benefit-section bg-color-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="benefit-content">
						<h5 class="h5">Per avere un impatto sociale concreto</h5>
						<h2 class="h2">Territorialità: adotta una scuola e  <br class="d-none d-lg-block">incontra gli studenti</h2>
						<p class="mb-4">Entra in contatto con le  <b>scuole del tuo territorio</b>  e finanzia i loro  <br
								class="d-none d-lg-block">percorsi di orientamento con Futurely.</p>
						<p>Avrai la possibilità <b>di organizzare incontri co-progettati</b> <br
								class="d-none d-lg-block">scuola su <b>tematiche inerenti al percorso di studio </b>e il
							<b>settore</b><br class="d-none d-lg-block"> produttivo, con la possibilità di <b>offrire
								stage e tirocini</b>.<br class="d-none d-lg-block"> Incrementerai enormemente la
							<b>talent acquisition</b> e l’<b>employer <br class="d-none d-lg-block">branding</b>.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="benefit-image">
						<img class="w-100" src="{% static 'landing_website/images/students-at-coding-img.png' %}"
							alt="benefit-img">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="newsletter-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="newsletter-content">
						<h5 class="h5">NON PERDERTI  UNA NOVITÀ SUL MONDO DELL’ORIENTAMENTO!</h5>
						<h3 class="h3">Una e-mail al mese per dirti cosa sta<br> succedendo in Futurely.</h3>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="newsletter-form" id="newletterForm">
						<form class="d-flex flex-wrap" method="POST">
							<input class="newsletter-input-filed" type="email" name="email" id="email"
								placeholder="Scrivi la tua e-mail" required>
							<button class="newsletter-button" type="submit">Iscriviti alla newletter</button>
							<div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="fflexCheckChecked" required="">
                                <label class="form-check-label" for="fflexCheckChecked">
									Accetto la <a style="color: #fff;" href="{% url 'news_letter_policy' %}"><u>privacy policy</u></a>
                                </label>
                            </div>
						</form>
						<span id="newsletteridforerror" class="error-label"></span>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="support-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="h2 mb-3 section-title">Raggiungi gli obiettivi SDG con Futurely</h2>
					<p class="section-discription mb-lg-40">Lavoriamo per aiutare le aziende a raggiungere gli obiettivi dell'<b>Agenda 2030 ONU.</b><br>
						Con i nostri percorsi puoi inserire nei tuoi report aziendali le azioni messe in campo verso il raggiungimento di questi 4 <b>obiettivi SDGs:</b></p>
				</div>
				<div class="col-lg-6">
					<div class="supports-content mb-2 mb-lg-40 d-flex">
						<div class="supports-image">
							<img src="{% static 'landing_website/images/support-img.png' %}" alt="support-img">
						</div>
						<div class="support-inner-content">
							<h5 class="h5">Perché sentirsi bene è fondamentale</h5>
							<p>Pensiamo che il benessere di ogni persona sia una responsabilità di tutti. E ci prendiamo l’impegno di fare la nostra parte.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mb-2 mb-lg-40">
					<div class="supports-content d-flex">
						<div class="supports-image">
							<img src="{% static 'landing_website/images/support-img2.png' %}" alt="support-img">
						</div>
						<div class="support-inner-content">
							<h5 class="h5">Perché ognuno ha diritto a formazione e lavoro</h5>
							<p>Lavoriamo per ridurre la quota di giovani disoccupati e al di fuori di ogni ciclo di
								studio o formazione.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mb-2 mb-lg-0">
					<div class="supports-content d-flex">
						<div class="supports-image">
							<img src="{% static 'landing_website/images/support-img3.png' %}" alt="support-img">
						</div>
						<div class="support-inner-content">
							<h5 class="h5">Perché ognuno ha diritto a formazione e lavoro</h5>
							<p>Lavoriamo per ridurre la quota di giovani disoccupati e al di fuori di ogni ciclo di studio o formazione.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="supports-content d-flex">
						<div class="supports-image">
							<img src="{% static 'landing_website/images/support-img4.png' %}" alt="support-img">
						</div>
						<div class="support-inner-content">
							<h5 class="h5">Perché tutti devono avere gli stessi diritti</h5>
							<p>Se tutti hanno le stesse opportunità, ognuno può essere padrone del proprio destino e non essere mai discriminato.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="testimonial-section overflow-hidden">
		<div class="container">
			<div class="row">
				<div class="col-md-12 d-flex justify-content-between">
					<h2 class="h2 mb-3 mb-lg-40 section-title text-white">Cosa ne pensa chi ha scelto Futurely?</h2>
					<div class="btn-wrap">
						<button class="slider-arrow prev-btn"><img
								src="{% static 'landing_website/images/prev-arrow.svg' %}" alt="prev-arrow"></button>
						<button class="slider-arrow next-btn"><img
								src="{% static 'landing_website/images/next-arrow.svg' %}" alt="next-arrow"></button>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="testimonial-slider slider overflow-show">
				<div class="testimonial-item">
					<div class="testimonial-row">
						<div class="testimonial-image">
							<img src="{% static 'landing_website/images/testimonial-img2.png' %}" alt="testimonial-img">
						</div>
						<div class="testimonial-content">
							<p>“Ho passato anni a cercare di aiutare nei modi possibili i miei due figli a compiere una scelta corretta per le superiori. Futurely è lo strumento giusto per aiutare i genitori”.</p>
							<p><b>Piero</b>, Papà</p>
						</div>
					</div>
				</div>
				<div class="testimonial-item">
					<div class="testimonial-row">
						<div class="testimonial-image">
							<img src="{% static 'landing_website/images/testimonial-img7.png' %}" alt="testimonial-img">
						</div>
						<div class="testimonial-content">
							<p>“Futurely si è spinta dove nessuno era mai arrivato: ha rivoluzionato il mondo dell’orientamento”</p>
							<p><b>James</b>, Preside</p>
						</div>
					</div>
				</div>
				<div class="testimonial-item">
					<div class="testimonial-row">
						<div class="testimonial-image">
							<img src="{% static 'landing_website/images/testimonial-img-hr.png' %}" alt="testimonial-img">
						</div>
						<div class="testimonial-content">
							<p>“Futurely è il benefit aziendale che tutti i genitori vorrebbero trovare. Dà un contributo reale e concreto ”.</p>
							<p><b>Pierluigi</b>, Hr manager </p>
						</div>
					</div>
				</div>
				<div class="testimonial-item">
					<div class="testimonial-row">
						<div class="testimonial-image">
							<img src="{% static 'landing_website/images/testimonial-img8.png' %}" alt="testimonial-img">
						</div>
						<div class="testimonial-content">
							<p>“Pensavo di fare Medicina, ma dopo il percorso ho scelto Giurisprudenza”</p>
							<p><b>Monica</b>, Studentessa</p>
						</div>
					</div>
				</div>
				<div class="testimonial-item">
					<div class="testimonial-row">
						<div class="testimonial-image">
							<img src="{% static 'landing_website/images/testimonial-img4.png' %}" alt="testimonial-img">
						</div>
						<div class="testimonial-content">
							<p>“Mia figlia è molto più consapevole di sé stessa da quando ha fatto i vostri percorsi”</p>
							<p><b>Lucia</b>, Mamma</p>
						</div>
					</div>
				</div>
				
				<div class="testimonial-item">
					<div class="testimonial-row">
						<div class="testimonial-image">
							<img src="{% static 'landing_website/images/testimonial-eizabeth.png' %}" alt="testimonial-img">
						</div>
						<div class="testimonial-content">
							<p>“Esco da questa esperienza più consapevole di chi sono io e  di chi vorrei diventare”</p>
							<p><b>Elizabeth</b>, Studentessa</p>
						</div>
					</div>
				</div>
				<div class="testimonial-item">
					<div class="testimonial-row">
						<div class="testimonial-image">
							<img src="{% static 'landing_website/images/testimonial-mamma.png' %}" alt="testimonial-img">
						</div>
						<div class="testimonial-content">
							<p>“Mio figlio ha scelto le scuole superiori basandosi interamente sui risultati della piattaforma”</p>
							<p><b>Camilla</b>, Mamma</p>
						</div>
					</div>
				</div>
				<div class="testimonial-item">
					<div class="testimonial-row">
						<div class="testimonial-image">
							<img src="{% static 'landing_website/images/testimonial-img.png' %}" alt="testimonial-img">
						</div>
						<div class="testimonial-content">
							<p>“Mi ero convinta che i percorsi di orientamento online fossero poco affidabili. Ma Futurely mi ha fatto ricredere grazie al supporto continuo che ho ricevuto”.</p>
							<p><b>Elisa</b>, Studentessa</p>
						</div>
					</div>
				</div>
				<div class="testimonial-item">
					<div class="testimonial-row">
						<div class="testimonial-image">
							<img src="{% static 'landing_website/images/testimonial-img6.png' %}" alt="testimonial-img">
						</div>
						<div class="testimonial-content">
							<p>“Una delle esperienze più utili di sempre. Mi ha aiutato a conoscermi meglio”</p>
							<p><b>Simone</b>, Studente</p>
						</div>
					</div>
				</div>
			</div>
			</div>
</div>
</section>
<section class="client-logos-section" id="contactform">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-4">
				<div class="client-logo">
					<img src="{% static 'landing_website/images/client-logo.png' %}" alt="client-logo" />
				</div>
			</div>
			<div class="col-md-4">
				<div class="client-logo">
					<img src="{% static 'landing_website/images/client-logo2.png' %}" alt="client-logo" />
				</div>
			</div>
			<div class="col-md-4">
				<div class="client-logo">
					<img src="{% static 'landing_website/images/client-logo3.png' %}" alt="client-logo" />
				</div>
			</div>
		</div>
	</div>
</section>
<section class="contact-section" >
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="contact-info">
                    <h5 class="h5">Prenota una demo assieme a noi!</h5>
                    <h3 class="h3">Sei un HR o ti occupi di orientamento? Vuoi vedere da vicino la nostra piattaforma?
                    </h3>
                    <p>Compila il form con tutti i tuoi dati e ti risponderemo entro 24 ore!</p>
                    <div class="contact-info-inner-card">
                        <h4 class="h4">Sei uno studente e vuoi ottenere Futurely gratis?</h4>
                        <p><b>Diventa Ambassador</b>! Presentaci una scuola o un’azienda e affronta gratuitamente i nostri percorsi.</p>
                        <a class="outline-button-link mt-3" href="https://info.myfuturely.com/futurely-ambassador" target="_blank">Come funziona?</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <form class="contact-form" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-item">
                                <label class="form-label">Nome</label>
                                {% render_field contact_us_form.first_name class="form-input" placeholder="Come ti chiami?" %} 
                                {% comment %} <input type="text" class="form-input" placeholder="Come ti chiami?"> {% endcomment %}
                                <span style="color: red;" class="error-label">{{ contact_us_form.first_name.errors }}</span>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-item">
                                <label class="form-label">Cognome</label>
                                {% comment %} <input type="text" class="form-input" placeholder="Qual è il tuo cognome?"> {% endcomment %}
                                {% render_field contact_us_form.last_name class="form-input" placeholder="Qual è il tuo cognome?" %} 
                                <span style="color: red;" class="error-label">{{ contact_us_form.last_name.errors }}</span>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-item">
                                <label class="form-label">E-mail</label>
                                {% comment %} <input type="text" class="form-input" placeholder="Scrivi la tua e-mail"> {% endcomment %}
                                {% render_field contact_us_form.email class="form-input" placeholder="Scrivi la tua e-mail" %} 
                                <span style="color: red;" class="error-label">{{ contact_us_form.email.errors }}</span>
                            </div>

                        </div>

						<div class="col-md-6">
                            <div class="form-item">
                                <label class="form-label">Cellulare (facoltativo)</label>
                                {% render_field contact_us_form.phone_number class="form-input" placeholder="Scrivi il tuo numero" %} 
                                <span style="color: red;" class="error-label">{{ contact_us_form.phone_number.errors }}</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-item">
                                <label class="form-label">Organizzazione</label>
                                <select class="form-select form-input select-color" aria-label="Che organizzazione sei?" name="organization" required onchange="showHideOrganizationNameField(this)">
                                    <option value="" selected disabled>Che organizzazione sei?</option>
                                    
									{% for choice in contact_us_form.organization.field.choices %}
										{% if forloop.counter == 1 %}
										{% else %}
											<option value="{{ choice.1 }}" {% if contact_us_form.organization.value == choice.1 %}selected{% endif %}>{{ choice.1 }}</option>
										{% endif %}
									{% endfor %}
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-md-6" id="organizationNameField">
                            <div class="form-item">
                                <label class="form-label">Nome dell’organizzazione</label>
                                {% comment %} <input type="text" class="form-input" placeholder="Scrivi chi rappresenti"> {% endcomment %}
                                {% render_field contact_us_form.company_name class="form-input" placeholder="Scrivi chi rappresenti" required="required" %} 
                                <span style="color: red;" class="error-label">{{ contact_us_form.company_name.errors }}</span>

                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-item">
                                <label class="form-label">Ruolo </label>
                                {% comment %} <input type="text" class="form-input" placeholder="Quale ruolo ricopri?"> {% endcomment %}
                                {% render_field contact_us_form.role class="form-input" placeholder="Quale ruolo ricopri?" %} 
                                <span style="color: red;" class="error-label">{{ contact_us_form.role.errors }}</span>

                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="form-item">
                                <label class="form-label">La tua richiesta </label>
                                {% comment %} <textarea class="form-input" rows="4"
                                    placeholder="Scrivi qui il tuo messaggio..."></textarea> {% endcomment %}
                                     {% render_field contact_us_form.concern class="form-input" rows="5"  placeholder="Scrivi qui il tuo messaggio..." %}
                                <span style="color: red;" class="error-label">{{ contact_us_form.concern.errors }}</span>

                            </div>
                        </div>
                        <div class="col-md-12 mt-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="true" name="subscribe_newsletter" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Vuoi iscriverti alla nostra Newsletter? (facoltativo)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" required>
                                <label class="form-check-label" for="flexCheckChecked">
                                    Accetto la <a href="{% url 'privacy_policy' %}"><u>privacy policy</u></a>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn-filed mt-4">Invia</button>
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                                <span class="submited-after-message" style="color: green;" id="req_submit">Request submitted</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</div>


{% endblock %}
{% block script %}
<script>

$(function() {      
    let isMobile = window.matchMedia("only screen and (max-width: 760px)").matches;

    if (isMobile) {
        $('.testimonial-slider').slick({
		  slidesToShow: 2,
		  slidesToScroll: 1,
		   infinite: true,
		  dots: false,
		  arrows: false,
		  rows: 1,
		  focusOnSelect: true,
		  responsive: [
			{
			  breakpoint: 992,
			  settings: {
				arrows: false,
				slidesToShow: 1,
				rows: 1,
			  }
			},
			{
			  breakpoint: 768,
			  settings: {
				arrows: false,
				slidesToShow: 1,
				rows: 1,
			  }
			},
			{
			  breakpoint: 480,
			  settings: {
				arrows: false,
				slidesToShow: 1,
				rows: 1,
			  }
			}
		  ]
		});
    }else{
        $('.testimonial-slider').slick({
		  slidesToShow: 2,
		  slidesToScroll: 1,
		   infinite: true,
		  dots: false,
		  arrows: false,
		  rows: 2,
		  focusOnSelect: true,
		  responsive: [
			{
			  breakpoint: 992,
			  settings: {
				arrows: false,
				slidesToShow: 1,
				rows: 1,
			  }
			},
			{
			  breakpoint: 768,
			  settings: {
				arrows: false,
				slidesToShow: 1,
				rows: 1,
			  }
			},
			{
			  breakpoint: 480,
			  settings: {
				arrows: false,
				slidesToShow: 1,
				rows: 1,
			  }
			}
		  ]
		});
    }
 });

	$('.article-slider').slick({
		slidesToShow: 2,
		slidesToScroll: 1,
		infinite: true,
		centerMode: true,
		dots: false,
		arrows: false,
		centerPadding: '260px',
		focusOnSelect: true,
		responsive: [
			{
				breakpoint: 992,
				settings: {
					arrows: false,
					centerPadding: '0px',
					centerMode: true,
					slidesToShow: 1,
				}
			},
			{
				breakpoint: 768,
				settings: {
					arrows: false,
					centerPadding: '0px',
					centerMode: true,
					slidesToShow: 1,
				}
			},
			{
				breakpoint: 480,
				settings: {
					arrows: false,
					centerPadding: '0px',
					centerMode: true,
					slidesToShow: 1,
				}
			}
		]
	});

</script>

  
{% endblock %}
