{% extends 'base_landing_website.html' %}
{% load static %}
{% load i18n %}
{% load phrase_i18n %}
{% block title %}
<title>Mentor</title>
{% endblock %}

{% block content %}

	<div class="main-content-block">
	<section class="corporate-section">
		<div class="container">
			<div class="row mobilerev">
				<div class="col-md-6">
					<div class="corporate-title-content">
					<h1 class="h1 mb-lg-4">Sei pronto a diventare <br class="d-none d-lg-block">Mentor?</h1>
					<p>I Mentor sono giovani professionisti di tutti i settori che scelgono di dedicare il loro tempo agli studenti che stanno cercando la loro strada.</p>
					<a href="https://docs.google.com/forms/d/e/1FAIpQLSczU0oyp1EznrmFTZy74AP4Wc72WgfTjRInY9tdtna4ErNHDA/viewform?pli=1"  target="_blank" class="mt-3 mt-lg-3 btn-filed bg-color-pool text-color-black mobAutoWidth">Invia la tua candidatura</a>
					</div>
				</div>
				<div class="col-md-6 mobMargin">
				<img class="w-100" src="{% static 'landing_website/images/pexels-julia-m-cameron-3.png' %}" alt="pexels-karolina-img">
				</div>
			</div>
		</div>
	</section>
	<section class="benefit-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="benefit-content">
					<h5 class="h5">Una missione per il futuro</h5>
					<h2 class="h2">Cosa vuol dire essere <br class="d-none d-lg-block">Mentor?</h2>
					<p class="mb-0">Il Mentor è parte integrante del percorso dei ragazzi di Futurely. <b>Condivide la propria esperienza</b> e aiuta a <b>comprendere meglio il suo lavoro</b>, raccontando  scelte, decisioni importanti e lezioni imparate.</p>
					<p>Essere Mentor significa <b>fare la differenza</b> nella vita delle nuove generazioni.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="benefit-image">
					<img class="w-100" src="{% static 'landing_website/images/pexels-fauxels-3184407.png' %}" alt="pexels-karolina-img">
					</div>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-12 mt-4 mt-lg-5">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="benefit-image">
					<img class="w-100" src="{% static 'landing_website/images/pexels-julia-m-cameron-4144923 2.png' %}" alt="pexels-karolina-img">
					</div>
				</div>
				<div class="col-md-6">
					<div class="benefit-content">
					<h5 class="h5">UN’OCCASIONE PER RIUNIRSI</h5>
					<h2 class="h2">Networking ed eventi</h2>
					<p class="mb-3">Ogni Mentor ha l'occasione di <b>partecipare ad eventi unici</b>, pensati per <b>fare networking</b> e conoscersi meglio.</p>
					<p class="mb-0">Dalle degustazioni di vini ai ritrovi con tutti i colleghi nella propria città, fino alle cene riuniti con i dipendenti Futurely.</p>
					</div>
				</div>
			</div>			
		</div>
	</section>
	<section class="corporate-section bg-color-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mb-4">
					<div class="corporate-title-content">
					<h1 class="h1 text-color-black">Tutto ciò che ti serve sapere</h1>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 d-flex">
					<div class="corporate-card">
						<h5 class="h5 mb-2">QUANTO TEMPO VUOI</h5>
						<h3 class="h3 mb-2">Quanto tempo devo dedicare a Futurely?</h3>
						<p>Mezz'ora al mese o più, a seconda dei tuoi impegni. <br>Sappiamo che ci sono periodi in cui si può dedicare più tempo di altri. È possibile adattare la propria disponibilità nel tempo.</p>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 d-flex">
					<div class="corporate-card">
						<h5 class="h5 mb-2">IL TUO SUPPORTO</h5>
						<h3 class="h3 mb-2">Quale può essere il mio contributo?</h3>
						<p>Ci sono diversi modi per dare una mano e puoi scegliere tu quello preferisci. Puoi contribuire attraverso chiacchierate one-to-one con i nostri ragazzi, attraverso la tua testimonianza ai laboratori di orientamento che facciamo nelle scuole o partecipando ai webinar.</p>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 d-flex">
					<div class="corporate-card">
						<h5 class="h5 mb-2">UN’ESPERIENZA PER TUTTI</h5>
						<h3 class="h3 mb-2">Chiunque può fare il Mentor?</h3>
						<p>Tutti possono fare domanda: studenti universitari e professionisti. Futurely seleziona i propri mentors in base a criteri di eccellenza e mette a disposizione strumenti, lezioni, workshop per "diventare" buoni mentor.</p>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 d-flex">
					<div class="corporate-card">
						<h5 class="h5 mb-2">BASTANO POCHI CLICK</h5>
						<h3 class="h3 mb-2">Qual è il primo passo?</h3>
						<p>Per cominciare ti basterà inviare la tua candidatura compilando il form con tutti i tuoi dati. Ti contatteremo per conoscerti e iniziare l’iter per essere a tutti gli effetti un Mentor!</p>
					</div>
				</div>
				<div class="col-md-12 text-center">
					<a href="https://docs.google.com/forms/d/e/1FAIpQLSczU0oyp1EznrmFTZy74AP4Wc72WgfTjRInY9tdtna4ErNHDA/viewform?pli=1" target="_blank" class="mt-3 mt-lg-5 btn-filed">Invia la tua candidatura</a>
				</div>
			</div>
		</div>
	</section>
	<section class="testimonial-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 d-flex justify-content-between">
				<h2 class="h2 mb-3 mb-lg-40 section-title text-white">Storie dei mentor</h2>
				<div class="btn-wrap">
					<button class="slider-arrow mentor-prev-btn"><img src="{% static 'landing_website/images/prev-arrow.svg' %}" alt="prev-arrow"></button>
					<button class="slider-arrow mentor-next-btn"><img src="{% static 'landing_website/images/next-arrow.svg' %}" alt="next-arrow"></button>
				</div>
				</div>
			</div>
		</div>
			<div class="mentor-testimonial-slider slider">
				<div class="testimonial-item">
					<div class="testimonial-row">
						<div class="testimonial-image">
						<img src="{% static 'landing_website/images/testimonial1.png' %}" alt="testimonial-img">
						</div>
						<div class="testimonial-content">
						<p>“Collaboro con Futurely da alcuni anni e questa esperienza mi ha riempito di soddisfazioni”</p>
						<p><b>Luca,</b> Medico</p>
						</div>
					</div>
				</div>
				<div class="testimonial-item">
					<div class="testimonial-row">
					<div class="testimonial-image">
					<img src="{% static 'landing_website/images/testimonial2.png' %}" alt="testimonial-img">
					</div>
					<div class="testimonial-content">
					<p>“Trovo che aiutare i giovani e accompagnarli verso scelte consapevoli sia una cosa bellissima”</p>
					<p><b>Elvira,</b>Veterinaria</p>
					</div>
					</div>
				</div>
				<div class="testimonial-item">
					<div class="testimonial-row">
					<div class="testimonial-image">
					<img src="{% static 'landing_website/images/testimonial3.png' %}" alt="testimonial-img">
					</div>
					<div class="testimonial-content">
					<p>“Avevo il sogno di diventare attrice e l’ho raggiunto. Oggi aiuto le ragazze i ragazzi che vogliono seguire questa strada grazie a Futurely”</p>
					<p><b>Maika, </b>Attrice</p>
					</div>
					</div>
				</div>
				<div class="testimonial-item">
				<div class="testimonial-row">
					<div class="testimonial-image">
					<img src="{% static 'landing_website/images/testimonial4.png' %}" alt="testimonial-img">
					</div>
					<div class="testimonial-content">
					<p>“Non mi sarei mai aspettato di vivere un’esperienza come questa, supportando i giovani verso il loro futuro”.</p>
					<p><b>Akanksha,</b> Ingegnere fisico</p>
					</div>
				</div>
				</div>
			</div>
		</div>
	</section>

	</div>



{% endblock %}
{% block script %}
<script>
	
		$('.testimonial-slider').slick({
		  slidesToShow: 2,
		  slidesToScroll: 1,
		   infinite: true,
		  centerMode: true,
		  dots: false,
		  arrows: false,
		  centerPadding: '200px',
		  rows: 2,
		  focusOnSelect: true,
		  responsive: [
			{
			  breakpoint: 992,
			  settings: {
				arrows: false,
				centerPadding: '0px',
				centerMode: true,
				slidesToShow: 1,
				rows: 1,
			  }
			},
			{
			  breakpoint: 768,
			  settings: {
				arrows: false,
				centerPadding: '0px',
				centerMode: true,
				slidesToShow: 1,
				rows: 1,
			  }
			},
			{
			  breakpoint: 480,
			  settings: {
				arrows: false,
				centerPadding: '0px',
				centerMode: true,
				slidesToShow: 1,
				rows: 1,
			  }
			}
		  ]
		});
		
		$('.article-slider').slick({
		  slidesToShow: 2,
		  slidesToScroll: 1,
		   infinite: true,
		  centerMode: true,
		  dots: false,
		  arrows: false,
		  centerPadding: '260px',
		  focusOnSelect: true,
		  responsive: [
			{
			  breakpoint: 992,
			  settings: {
				arrows: false,
				centerPadding: '0px',
				centerMode: true,
				slidesToShow: 1,
			  }
			},
			{
			  breakpoint: 768,
			  settings: {
				arrows: false,
				centerPadding: '0px',
				centerMode: true,
				slidesToShow: 1,
			  }
			},
			{
			  breakpoint: 480,
			  settings: {
				arrows: false,
				centerPadding: '0px',
				centerMode: true,
				slidesToShow: 1,
			  }
			}
		  ]
		});
		$('.mentor-testimonial-slider').slick({
		  slidesToShow: 2,
		  slidesToScroll: 1,
		   infinite: true,
		  centerMode: true,
		  dots: false,
		  arrows: false,
		  centerPadding: '150px',
		  focusOnSelect: true,
		  responsive: [
			{
			  breakpoint: 992,
			  settings: {
				arrows: false,
				centerPadding: '0px',
				centerMode: true,
				slidesToShow: 1,
			  }
			},
			{
			  breakpoint: 768,
			  settings: {
				arrows: false,
				centerPadding: '0px',
				centerMode: true,
				slidesToShow: 1,
			  }
			},
			{
			  breakpoint: 480,
			  settings: {
				arrows: false,
				centerPadding: '0px',
				centerMode: true,
				slidesToShow: 1,
			  }
			}
		  ]
		});
	
	</script>
{% endblock %}
