{% load static %}
    <header>
        <div class="header-area header-sticky">
            <div class="main-header">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="menu-wrapper d-flex justify-content-between align-items-center">
                                <div class="header-info-left d-none d-lg-block">
                                    <div class="main-menu">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a {% if request.resolver_match.url_name == "landing_website_company" %} class="current-nav-link" {% endif %} href="{% url 'landing_website_company' %}">Aziende</a></li>
                                                <li><a {% if request.resolver_match.url_name == "school" %} class="current-nav-link" {% endif %} href="{% url 'school' %}">Scuole</a></li>
                                                <li><a {% if request.resolver_match.url_name == "landing_website_university" %} class="current-nav-link" {% endif %} href="{% url 'landing_website_university' %}">Istituzioni</a></li>
                                                <li><a {% if request.resolver_match.url_name == "mentor" %} class="current-nav-link" {% endif %} href="{% url 'mentor' %}">Mentor</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="header-info-mid">
                                    <div class="logo">
                                        <a href="{% url 'index' %}"><img
                                                src="{% static 'landing_website/images/logo.svg' %}" alt="logo"></a>
                                    </div>
                                </div>
                                <div class="header-info-right align-items-center d-none d-lg-flex">
                                    <ul>
                                        <li><a {% if request.resolver_match.url_name == "about" %} class="current-nav-link" {% endif %} class="hovereffect" href="{% url 'about' %}">Chi siamo</a></li>
                                        <li><a href="{% url 'faq' %}" role="menuitem" class="hovereffect" tabindex="-1">FAQ</a></li>
                                        <li><a href="{% url 'register' %}" class="btn-filed">Registrati ora</a></li>
                                        <li><a href="{% url 'login' %}" class="btn-outline d-none d-sm-block">Accedi</a></li>
                                    </ul>
                                </div>
                                <div class="mobile_menu d-flex align-items-center d-lg-none">
                                    <a href="{% url 'register' %}" class="btn-filed">Registrati ora</a>
                                    <div class="slicknav_menu">
                                        <a href="#" aria-haspopup="true" role="button" tabindex="0"
                                            class="ms-4 slicknav_btn">
                                            <img src="{% static 'landing_website/images/menu-icon.svg' %}"
                                                alt="menu-icon">
                                            </span>
                                        </a>
                                        <ul class="slicknav_nav" aria-hidden="true" role="menu">
                                            <li><a href="{% url 'index' %}" role="menuitem" tabindex="-1">Home</a></li>
                                            <li><a href="{% url 'landing_website_company' %}" role="menuitem" tabindex="-1">Aziende</a></li>
                                            <li><a href="{% url 'school' %}" role="menuitem" tabindex="-1">Scuole</a></li>
                                            <li><a href="{% url 'landing_website_university' %}" role="menuitem" tabindex="-1">Istituzioni</a></li>
                                            <li><a href="{% url 'mentor' %}" role="menuitem" tabindex="-1">Mentor</a></li>
                                            <li><a href="{% url 'about' %}" role="menuitem" tabindex="-1">Chi siamo</a></li>
                                            <li><a href="{% url 'faq' %}" role="menuitem" tabindex="-1">FAQ</a></li>
                                            <li><a href="{% url 'login' %}" class="btn-outline">Accedi</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>