{% extends 'base_payment.html' %}
{% load static %}
{% load i18n %}
{% load payment_tags %}
{% load phrase_i18n %}
{% load widget_tweaks %}
{% block title%}
<title>{% trans "Futurely: Payment" %}</title>
{% endblock %}
{% block style_sheet %}
{% phrase_javascript %}
<style>
.back-step-bloke {
position: absolute;
top: 45px;
right: 8px;
}
.back-step-bloke a {
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 19px;
letter-spacing: -0.03em;
color: #FFFFFF;
text-decoration: none;
}
.back-step-bloke a img {
margin-right: 5px;
width: 15px;
}
.payment-card-blockes-title h2 {
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 126.02%;
letter-spacing: -0.03em;
color: #FFFFFF;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 1rem;
}
.payment-card-blockes-title h2 img {
margin-right: 12px;
}
.payment-card-blockes-title p {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: -0.03em;
color: #D9D9D9;
}
.payment-programe-card {
background: #26272B;
box-shadow: 9px 9px 16px rgb(0 0 0 / 40%), -6px -9px 29px rgb(65 68 74 / 32%);
border-radius: 10px;
width: 100%;
display: block;
padding: 38px;
text-align: left;
}
.programe-content h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-bottom: 0.4rem;
}
.programe-content p {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    letter-spacing: -0.03em;
    color: #ffffff;
    margin: 0;
}
.progame-card-details-img img {
width: 48px;
}
.progame-card-details {
display: flex;
align-items: center;
column-gap: 15px;
}
.programe-details-price span {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 126.02%;
text-align: right;
letter-spacing: -0.03em;
color: #FFFFFF;
}
.programe-details-price {
text-align: right;
}
.programe-content-title h2 {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
letter-spacing: -0.03em;
color: #D5D5D5;
margin: 0;
}
.payment-programe-card .row + .row {
border-top: 1px solid #363945;
padding: 12px 0;
}
.programe-submit-btn input {
background: linear-gradient(
116.59deg
, #0068FF 10.15%, #B179F0 56.38%, #B893BA 77.61%, #CE8991 100.73%);
box-shadow: 0px 100px 80px rgb(0 0 0 / 2%), 0px 64.8148px 46.8519px rgb(0 0 0 / 2%), 0px 38.5185px 25.4815px rgb(0 0 0 / 1%), 0px 20px 13px rgb(0 0 0 / 1%), 0px 8.14815px 6.51852px rgb(0 0 0 / 1%), 0px 1.85185px 3.14815px rgb(0 0 0 / 0%);
border-radius: 10px;
width: 100%;
border: none;
color: #fff;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: -0.03em;
font-size: 17px;
padding: 12px;
}
.programe-submit-btn input:hover {
    color: white !important;
}
a.close-icone img {
width: 12px;
}
a.close-icone {
float: right;
opacity: 0.4;
position: relative;
top: -28px;
left: 20px;
}
.sucess-message-blockes h2 {
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 42px;
letter-spacing: -0.03em;
color: #FFFFFF;
margin-bottom: 1rem;
}
.sucess-message-blockes p {
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;
text-align: center;
letter-spacing: -0.03em;
color: #FFFFFF;
}
.sucess-message-blockes img {
margin-bottom: 28px;
}
#discont-blockes-show, .programe-discount-btn a {
background-color: #7d7d7d;
box-shadow: 0px 100px 80px rgb(0 0 0 / 2%), 0px 64.8148px 46.8519px rgb(0 0 0 / 2%), 0px 38.5185px 25.4815px rgb(0 0 0 / 1%), 0px 20px 13px rgb(0 0 0 / 1%), 0px 8.14815px 6.51852px rgb(0 0 0 / 1%), 0px 1.85185px 3.14815px rgb(0 0 0 / 0%);
border-radius: 10px;
width: 100%;
border: none;
color: #fff;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: -0.03em;
font-size: 17px;
padding: 8px;
}
@media (min-width:992px) {
.payment-programe-card {
width: 85%;
margin: 0 auto;
}
}
.radio-checkbox-button input[type="radio"]:checked + label, .radio-checkbox-button label:hover {
    background: linear-gradient(116.59deg, #0068FF 10.15%, #B179F0 56.38%, #B893BA 77.61%, #CE8991 100.73%);
}
.radio-checkbox-button label {
    border: 1px solid #69696a;
    color: #fff;
    padding: 9px 20px;
    text-transform: capitalize;
    border-radius: 30px;
    font-weight: 500;
}
.radio-checkbox-button:last-child label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}
.radio-checkbox-button:first-child label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.radio-checkbox-button input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.011;
    z-index: 100;
}
.radio-checkbox-button {
    position: relative;
}
.payment-custom-checkbox {
    display: flex;
    justify-content: end;
}
.payment-modee {
    border-top: none !important;
    padding: 0 0 10px !important;
    border-bottom: 1px solid #363945;
    margin-top: -10px;
}
div#discount-inner-div {
    border-top: 1px solid #363945;
}
@media (max-width:767px){
.payment-programe-card .reverse-mb {
    flex-direction: column-reverse;
}
.payment-custom-checkbox {
    margin-bottom: 18px;
}
.programe-content p {
    font-size: 14px;
}
.programe-content h2 {
    font-size: 16px;

}
.discounttxt-div .discount-text {
    width: 100% !important;
}
.discounttxt-div #apply-dis-btn {
    width: 100% !important;
    margin-top: 12px !important;
}
}
@media (max-width:576px){
.col-mb-9 {
    flex: 0 0 auto;
    width: 75%;
}
.col-mb-3 {
    flex: 0 0 auto;
    width: 25%;
}
}

</style>
{% endblock %}
{% block content %}
<div class="payment-blockes-main">
    <div class="back-step-bloke">
        <div class="container-fluid">
            <a id="btn-go-back" href=""><img src="{% static 'images/back-blocke-icon.png'%}">{% trans "Go back" %}</a>
        </div>
    </div>
    <div class="payment-blockes">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="payment-programe">
                        <div class="payment-card-blockes-title">
                            <h2><img src="{% static 'images/credit-card 1.png'%}">{% trans "Let’s get you started" %}</h2>
                            <p>{% trans "With Futurely, you will feel excited, empowered, with ownership of your life, and ready to tackle the future in just 2 modules and 20 exercises!" %}</p>
                        </div>
                    </div>
                    <!-- {% if is_futurelab_or_company_coupon_expired_or_inactive == True %}
                        <label>You have a coupon code {{discount_code}} linked to your record. It seems the coupon code is either expired or inactive or is for a different plan than the {{our_plan_obj.title}}</label>
                    {% endif %} -->
                    <div class="payment-programe-card mt-5 mb-5">
                    
                        <div class="row reverse-mb align-items-center mb-4">
                            <div class="col-md-6">
                                <div class="progame-card-details">
                                    <div class="progame-card-details-img">
                                        <img src="{% static 'images/progame-img.png'%}">
                                    </div>
                                    <div class="programe-content">
                                        <h2>{{our_plan_obj.title}}</h2>
                                        {% if payment_type == "Weekly"%}
                                        {% to_float our_plan_obj.weekly_cost as weekly_cost %}
                                        {% if request.user.student.display_discounted_price_only %}
                                        <p id="display_discount_amount">{% trans '$' %} {{ total_price }}/{% trans 'week' %}({% trans 'for' %} {{ our_plan_obj.weekly_cost_duration }} {% trans 'weeks' %})
                                        </p>
                                        {% else %}
                                        <p id="PlanCostId">{% trans '$' %}{{weekly_cost}}/{% trans 'week' %}({% trans 'for' %} {{ our_plan_obj.weekly_cost_duration }} {% trans 'weeks' %})
                                        </p>
                                        {% endif %}
                                        {% else %}
                                        {% if request.user.student.display_discounted_price_only %}
                                        <p id="display_discount_amount">{% trans '$' %} {{ one_time_total_price }}
                                        </p>
                                        {% else %}
                                        <p id="PlanCostId">{% trans '$' %}{{actual_price}}
                                        </p>
                                        {% endif %}
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="payment-custom-checkbox">
                                    
                                      <div class="radio-checkbox-button">
                                        {% if payment_type == "Weekly"%}
                                        <input type="radio" id="weekly-time-payment" name="check-substitution-2" value="Weekly" checked />
                                        <label class="btn btn-default" for="weekly-time-payment">Weekly</label>
                                        {% else %}
                                        <input type="radio" id="weekly-time-payment" name="check-substitution-2" value="Weekly" />
                                        <label class="btn btn-default" for="weekly-time-payment">Weekly</label>
                                        {% endif %}
                                      </div>
                                      <div class="radio-checkbox-button">
                                        {% if payment_type == "Weekly"%}
                                        <input type="radio" id="one-time-payment" name="check-substitution-2" value="One Time"/>
                                        <label class="btn btn-default" for="one-time-payment">One Time</label>
                                        {% else %}
                                        <input type="radio" id="one-time-payment" name="check-substitution-2" value="One Time" checked/>
                                        <label class="btn btn-default" for="one-time-payment">One Time</label>
                                        {% endif %}
                                      </div>
                                </div>
                                
                            </div>
                        </div>
                        

                         <!--<div class="row align-items-center">
                            <div class="col-sm-12">
                                <a id="discont-blockes-show" class="btn">Discount</a>
                            </div> -->
                            <!-- <div class="col-sm-12" id="discont-blockes" style="display:none;">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="programe-content-title">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="programe-discount-btn">
                                            <a class="btn" href="">Submit</a>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        <!-- </div> -->

                        <!-- <div class="col-sm-12 payment-price-padding" id='discount-inner-div'> -->
                            <!-- <div class="row align-items-center">
                                <div class="col-sm-12">
                                    <div class="mb-2">
                                        <label class="form-label" style="color: #D5D5D5;">Select Payment Mode</label>
                                        <form action="{% url 'order-summary' %}" method="get" id="jsform">
                                        <div class="col-sm-8">
                                            <div class="border-grad">
                                                <select class="select-box form-select select2 form-control" id="pay_option_select" name="payment_type" required>
                                                    <option value="Weekly" {% if payment_type == "Weekly" %} selected {% endif %}>{% trans '$' %}{{our_plan_obj.weekly_cost}} {% trans '/Week (for ' %}{{ our_plan_obj.weekly_cost_duration}} {% trans 'weeks' %})</option>
                                                    <option value="One Time" {% if payment_type == "One Time" %} selected {% endif %} >{% trans '$' %}{{our_plan_obj.cost}}-One Time</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="submit" value="Submit">
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div> -->
                        {% if request.user.student.display_discounted_price_only %}

                        {% else %}
                        {% if our_plan_obj.plan_name != 'Community' %}
                            <div class="row align-items-center">
                                {% if is_futurelab_or_company_discount_applied == True %}
                                    <div class="right-btn-block discounttxt-div d-none">
                                        <input type="text" class="form-control discount-text" placeholder="{% trans 'Discount code (optional)' %}" id="discount-box" name="discount">
                                        
                                        <a href="" class="btn btn-create float-sm-end float-sm-end discount-icon btn-apply" id='apply-dis-btn' data-bs-toggle="modal" >
                                            <span>  {% trans "Apply" %}</span>
                                        </a>
                                    </div>
                                    <div class="right-btn-block discountapplied-div">
                                        <input type="text" class="form-control discount-text" value="{% trans 'Discount code' %} '{{discount_code}}' {% trans 'applied' %}" id="discount-box-applied" readonly>
                                        <a href="" class="btn btn-create float-sm-end float-sm-end discount-icon btn-apply" id='remove-dis-btn' data-bs-toggle="modal" >
                                            <span>  {% trans "Remove" %}</span>
                                        </a>
                                    </div>
                                {% else %}
                                
                                    <div class="right-btn-block discounttxt-div">
                                        <input type="text" class="form-control discount-text" placeholder="{% trans 'Discount code (optional)' %}" id="discount-box" name="discount">
                                        <a href="" class="btn btn-create float-sm-end float-sm-end discount-icon btn-apply" id='apply-dis-btn' data-bs-toggle="modal" >
                                            <span>  {% trans "Apply" %}</span>
                                        </a>
                                    </div>
                                    <div class="right-btn-block discountapplied-div d-none">
                                        <input type="text" class="form-control discount-text" value="'{{discount_code}}' {% trans 'Discount code applied' %}" id="discount-box-applied" readonly>
                                        <a href="" class="btn btn-create float-sm-end float-sm-end discount-icon btn-apply" id='remove-dis-btn' data-bs-toggle="modal" >
                                            <span>  {% trans "Remove" %}</span>
                                        </a>
                                        
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% endif %}

                        <div class="col-sm-12" style="margin-bottom: 20px;">
                            <span id="error_msg_discount"></span>
                        </div>

                        
                         <div class="row align-items-center pb-3">
                            {% if request.user.student.display_discounted_price_only %}

                            {% else %}
                            <div class="col-sm-9 col-mb-9">
                                <div class="programe-content-title">
                                    <h2 id='discount-name-p'>{{discount_name}}</h2>
                                </div>
                            </div>
                            <div class="col-sm-3 col-mb-3">
                                <div class="programe-details-price">
                                    <span id='total_discount_p'>{% trans '$' %}{{discount}}</span>
                                </div>
                            </div>
                            {% endif %}
                        </div> 
                        
                        {% if tax_calculated_object.tax_isactive %}
                        <div class="row align-items-center" style="display: none;">
                        {% else %}
                        <div class="row align-items-center">
                        {% endif %}
                            <div class="col-sm-9 col-mb-9">
                                <div class="programe-content-title">
                                    <h2>{% trans "Total amount" %}</h2>
                                </div>
                            </div>
                            <div class="col-sm-3 col-mb-3">
                                <div class="programe-details-price">
                                    <span id='total_amount_p'>{% trans '$' %}{{total_price}}</span>
                                </div>
                            </div>
                        </div>
                        {% if tax_calculated_object.tax_isactive %}
                       
                        {% for tax in tax_calculated_object.all_taxes%}
                            <div class="row align-items-center">
                                <div class="col-sm-9 col-mb-9">
                                    <div class="programe-content-title">
                                        <h2>{{tax.tax_display_name}}</h2>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-mb-3">
                                    <div class="programe-details-price">
                                        {% cal_tax_amount tax total_price as val%} 
                                        <span id="tax_amount_span_{{forloop.counter}}">{% trans '$' %}{{val}}</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="row align-items-center">
                                <div class="col-sm-9 col-mb-9">
                                    <div class="programe-content-title">
                                        <h2>{% trans "Total amount" %}</h2>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-mb-3">
                                    <div class="programe-details-price">
                                        <span id="final_amount_after_tax">{% trans '$' %}{{amount_after_tax}}</span>
                                        <!-- <span id="final_amount_after_tax">{% trans '$' %}{{tax_calculated_object.amount_after_tax}}</span> -->
                                        <!-- <span id="final_amount_after_tax">{% trans '$' %}{{ our_plan_obj.weekly_cost }}</span> -->
                                    </div>
                                </div>
                            </div>
                        
                        {% endif %}
                        <div class="col-lg-12">
                            <form action="{% url 'order-summary' %}" method="POST" id="OrderSummaryForm">
                                {% csrf_token %}
                                <div id="PayMentTypeAdd">
                                    {% if payment_type == "One Time" %}
                                    <input type="hidden" name="payment_type" value="One Time">
                                    {% else %}
                                    <input type="hidden" name="payment_type" value="Weekly">
                                    {% endif %}
                                </div>
                                <div class="programe-submit-btn mt-4">
                                    <input class="btn" type="submit" value="{% trans 'Proceed' %}">
                                </div>
                            </form>
                        </div>


                        <!-- {% if total_price > 0 %}
                            <div class="col-lg-12">
                                <div class="programe-submit-btn mt-4">
                                    <a class="btn hbtn" href=" {% url 'confirm-order' %}">{% trans "Proceed" %}</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-lg-12">
                                <form action="{% url 'order-summary' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="programe-submit-btn mt-4">
                                        <input type="submit" value="{% trans 'Proceed' %}">
                                    </div>
                                </form>
                            </div>
                        {% endif %} -->


                        <div class="col-lg-12 justify-content-center mb-2 mt-4">
                            <div class="welcome-bottom-btn">
                                <a class="btn learn-more"  href="{% url 'home'%}">{% trans "Skip" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    
</div>

{% endblock %}

{% block script %}
<script>
    jQuery(document).ready(function() {
        // jQuery("#discont-blockes-show").click(function(){
        //     jQuery("#discont-blockes").show();
        // });
        // jQuery("#discont-blockes-show").click(function(){
        //     jQuery("#discont-blockes-show").hide();
        // });
    });

    $('#apply-dis-btn').on("click",function(){
        var coupon_code = $("#discount-box").val();
        var payment_type = $('input[type=radio]:checked').val();
        if (coupon_code) {
            $('#apply-dis-btn').css('pointer-events', 'none');
            $('#discount-box').css('pointer-events', 'none');

            $.ajax({
                url: "{% url 'apply-coupon-code' %}",
                type: 'POST',
                headers: {"X-CSRFTOKEN": "{{ csrf_token }}"},
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                // data: {'coupon_code':coupon_code, "paymentIntentId": payment_intent_id},
                data: {'coupon_code':coupon_code, 'payment_type': payment_type},
                success: function(response){
                var data = JSON.parse(JSON.stringify(response));
                console.log(data)
                if (data['message'] == 'success') {
                    if (data['coupon_found'] == 'Yes' && data["total_discount"] != "0") {
                        /*if (payment_type == "Weekly"){
                            $("#PlanCostId").html("{% trans '$' %}" + data['final_total'] + "/{% trans 'week' %}({% trans 'for' %} {{ our_plan_obj.weekly_cost_duration }} {% trans 'weeks' %})")
                        }else{
                            $("#PlanCostId").html("{% trans '$' %}" + data['final_total']);
                        };*/
                        $('#total_amount_p').html("{% trans '$' %}" + data['final_total']);
                        $('#total_discount_p').html("{% trans '$' %}" + data['total_discount']);
                        $('#button-text').html("{% trans 'Pay - $' %}" + data['final_total']);
                        $('#discount-name-p').html(data['discount_name']);
                        $(".discounttxt-div" ).addClass("d-none");
                        $(".discountapplied-div" ).removeClass("d-none");
                        $("#discount-box-applied").val(coupon_code + " {% trans 'Discount code applied successfully' %}");
                        $("#error_msg_discount").html('');
                        // window.location.reload();
                        if(data['tax_isactive']==true){
                            $("#final_amount_after_tax").html("{% trans '$' %}"+ data['amount_after_tax']);
                            var all_taxes=data['all_taxes'];
                            for(var i=0; i<all_taxes.length;i++){
                                $('#tax_amount_span_'+(i+1)).html("{% trans '$' %}"+all_taxes[i][1]);
                            }
                            }
                            //alert(data['amount_after_tax']);
                        }
                        else{
                            $("#error_msg_discount").css("color",'red');
                            $("#error_msg_discount").html("{% trans 'Invalid discount code' %}");
                            $('#apply-dis-btn').css('pointer-events', 'all');
                            $('#discount-box').css('pointer-events', 'all');
                        }
                    }
                    else{
                        $('#apply-dis-btn').css('pointer-events', 'all');
                        $('#discount-box').css('pointer-events', 'all');
                        alert("{% trans 'Something went wrong' %}");
                    }
                }
            });
        }

		return false
    });


    $('#remove-dis-btn').on("click",function(){
        var coupon_code = $("#discount-box-applied").val();
        var payment_type = $('input[type=radio]:checked').val();
        if (coupon_code) {
            $('#remove-dis-btn').css('pointer-events', 'none');

            $.ajax({
            url: "{% url 'apply-coupon-code' %}",
            type: 'POST',
            headers: {"X-CSRFTOKEN": "{{ csrf_token }}"},
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            // data: {'coupon_code':coupon_code, 'remove-discount':'Yes', "paymentIntentId": payment_intent_id},
            data: {'coupon_code':coupon_code, 'remove-discount':'Yes', 'payment_type': payment_type},
            success: function(response){
            var data = JSON.parse(JSON.stringify(response));
            if (data['message'] == 'success') {
                console.log(response);
                if (payment_type == "Weekly"){
                    $("#PlanCostId").html("{% trans '$' %}" + data['final_total'] + "/{% trans 'week' %}({% trans 'for' %} {{ our_plan_obj.weekly_cost_duration }} {% trans 'weeks' %})")
                }else{
                    $("#PlanCostId").html("{% trans '$' %}" + data['final_total']);
                };
                $('#total_amount_p').html("{% trans '$' %}" + data['final_total'])
                $('#total_discount_p').html("{% trans '$' %}" + data['total_discount'])
                $('#button-text').html("{% trans 'Pay - $' %}" + data['final_total'])
                $('#discount-name-p').html(data['discount_name'])
                
                $(".discountapplied-div" ).addClass("d-none");
                $(".discounttxt-div" ).removeClass("d-none");
                $('#apply-dis-btn').css('pointer-events', 'all');
                $('#discount-box').css('pointer-events', 'all');
                $('#remove-dis-btn').css('pointer-events', 'all');
                $('#discount-box').val('')
                // window.location.reload();
                if(data['tax_isactive']==true){
                    $("#final_amount_after_tax").html("{% trans '$' %}"+ data['amount_after_tax']);
                    var all_taxes=data['all_taxes'];
                    for(var i=0; i<all_taxes.length;i++){
                        $('#tax_amount_span_'+(i+1)).html("{% trans '$' %}"+all_taxes[i][1]);
                    }
                } 
            }
            else{
                // $('#apply-dis-btn').css('pointer-events', 'all');
                // $('#discount-box').css('pointer-events', 'all');
                alert("{% trans 'Something went wrong' %}");
            }
            }});
        }

		return false
    });

    $('#btn-go-back').on("click",function(){
        window.history.back();
		return false;
    });

    $("input[type=radio]").click(function() {
        var payment_type = $('input[type=radio]:checked').val();
        if(payment_type == "Weekly"){
            if ("{{ request.user.student.display_discounted_price_only }}" == "True"){
                $("#display_discount_amount").text("{% trans '$' %}"+`{{ total_price }}/{% trans 'week' %}({% trans 'for' %} {{ our_plan_obj.weekly_cost_duration }} {% trans 'weeks' %})`)
                $("#PayMentTypeAdd").html(`<input type="hidden" name="payment_type" value="Weekly">`);
              
            }else{
                "{% to_float our_plan_obj.weekly_cost as weekly_cost %}"
                $("#PlanCostId").text("{% trans '$' %}"+`{{weekly_cost}}/{% trans 'week' %}({% trans 'for' %} {{ our_plan_obj.weekly_cost_duration }} {% trans 'weeks' %})`)
                $("#PayMentTypeAdd").html(`<input type="hidden" name="payment_type" value="Weekly">`);
            }
            
        }else{
            if ("{{ request.user.student.display_discounted_price_only }}" == "True"){
                "{% to_float our_plan_obj.cost as our_plan_obj_cost %}"
                $("#display_discount_amount").text("{% trans '$' %}"+"{{ one_time_total_price }}")
                $("#PayMentTypeAdd").html(`<input type="hidden" name="payment_type" value="One Time">`);
                
            }else{
                $("#PlanCostId").text("{% trans '$' %}"+`{{our_plan_obj_cost}}`)
                $("#PayMentTypeAdd").html(`<input type="hidden" name="payment_type" value="One Time">`);
            }
        }
        $.ajax({
            type: "POST",
            headers: {"X-CSRFTOKEN": "{{ csrf_token }}"},
            url: "{% url 'payment-type-change' %}",
            data: {"payment_type": payment_type},
            success: function(response){
                console.log(response);
                if(response["message"] == "success"){
                    /*if (payment_type == "Weekly"){
                        $("#PlanCostId").html("{% trans '$' %}" + response['final_total'] + "/{% trans 'week' %}({% trans 'for' %} {{ our_plan_obj.weekly_cost_duration }} {% trans 'weeks' %})")
                    }else{
                        $("#PlanCostId").html("{% trans '$' %}" + response['final_total']);
                    };*/
                    $('#total_discount_p').html("{% trans '$' %}" + response['total_discount']);
                    $('#total_amount_p').html("{% trans '$' %}" + response['final_total']);
                    // console.log(response)
                    if(response["tax_isactive"] == true){
                        $("#final_amount_after_tax").text("{% trans '$' %}" + response["amount_after_tax"]);
                        var all_taxes=response['all_taxes'];
                        for(var i=0; i<all_taxes.length;i++){
                        $('#tax_amount_span_'+(i+1)).html("{% trans '$' %}"+all_taxes[i][1]);
                    }   
                    }
                }
                // alert("Done")
            },
            error: function(error){
                alert("Something went wrong!")
            }
        });
    });
    
    </script>
{% endblock %}
