{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Scholarship Approved" %}</title>
</head>
<body>
<style>
body {
    margin: 0;
}
 @media screen and (max-width: 767px) {
 .w-100-responsive {
width: 100% !important;
}
}
</style>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="background:#ffffff none no-repeat center/cover;border-collapse:collapse;height:100%;padding:0;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover">
        <tbody>
            <tr>
                <td align="left" valign="top" style="height:100%;margin:0;padding:10px;width:100%;border-top:0">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border:0;max-width:600px!important">
                        <tbody>
                            <tr>
                                <td align="center" valign="top" style="min-width:100%;background-color:#000000;border-collapse:collapse;height:105px">
                                    <img height="90px" style="padding-top:21px" src="https://ci6.googleusercontent.com/proxy/BoR4FrLhWlgHwogET8PwWpogf1Ex1yE7zqU1dx9rLf7FZ_ja2Cwo_LjYI6reQ2uiEo84rZ2jAtInri-9doFgYXRlSYWIZApURZ935w=s0-d-e1-ft#https://www.myfuturely.com/static/website/images/logo.png" class="CToWUd" data-bit="iit">
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" style="border-top:0;border-bottom:0">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td valign="top" style="padding-top:18px">
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" style="padding-top:0;padding-right:0px;padding-bottom:9px;padding-left:0px;word-break:break-word;color:#000;font-family:Helvetica;font-size:18px;font-weight:600;line-height:150%;text-align:center">
                                                                    <div style="text-align:center">
                                                                        <span style="font-size:18px;font-weight:600">Congratulations 🎉 We are excited to inform you that <br>we will be offering you the Futurely 100% Scholarship </span>
                                                                    </div>
                                                                    
                                                                </td>
                                                            </tr>
															
                                                                <tr>
                                                                <td align="center" valign="top" style="min-width:100%;border-collapse:collapse">
                                                                    <img width="250px" height="250px" src="https://myfuturelybucket-prod.s3.eu-south-1.amazonaws.com/media/email_template/cong-img.png" class="CToWUd a6T" data-bit="iit" tabindex="0">
                                                                </td>
                                                                </tr>
                                                                <tr>
																<table class="responsive-table-td" align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%">
																	<tbody>
                                                                <td valign="center" style="padding-top:0;padding-right:0px;padding-bottom:8px;padding-left:0px;word-break:break-word;color:#000;font-family:Helvetica;font-size:18px;font-weight:600;line-height:150%;text-align:center">
																
                                                                    <div style="text-align:center;">
                                                                        <span style="font-size: 14px;font-weight:600;padding-top:10px;display:block">{% trans "What’s next?" %}</span>
                                                                    </div>  
                                                                </td>
																</tbody>
																</table>
                                                                
                                                                </tr>
                                                                
                                                                <tr>
                                                                <td valign="top" style="padding-top:0;padding-right:0px;padding-bottom:9px;padding-left:0px;word-break:break-word;color:#000;font-family:Helvetica;font-size:18px;font-weight:600;line-height:120%;text-align:center">
                                                                    <div style="text-align:center">
                                                                        <div style="font-size:14px;font-weight:400">First of all, a huge congratulations to you. You answers were great and we all loved <br>your test script. <br>We have applied 100% scholarship to your account - Full access granted.</div>
                                                                       
                                                                    </div>
                                                                    
                                                                </td>
                                                                </tr>
																<tr>
																<table class="responsive-table-td" align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%">
																	<tbody>
                                                                <td valign="center" style="padding-top:0;padding-right:0px;padding-bottom:0px;padding-left:0px;word-break:break-word;color:#000;font-family:Helvetica;font-size:18px;font-weight:600;line-height:150%;text-align:center">
																
                                                                    <div style="text-align:center;">
                                                                        <span style="font-size: 14px;font-weight:600;padding-top:0;display:block">{% trans "Login and start your journey towards finding your path" %}</span>
                                                                    </div>  
                                                                </td>
																</tbody>
																</table>
                                                                
                                                                </tr>
																
                                                                 
                                                                <tr>
                                                                <td style="padding-top:12px;">
                                                                <div valign="center" style="padding:1px;word-break:break-word;color:#000;font-family:Helvetica;font-size:18px;font-weight:600;line-height:150%;text-align:center">
                                                                        <a href="mailto:agnese@myfuturely.com?subject=Vorrei%20saperne%20di%20pi%C3%B9.%20(Ho%20fatto%20il%20quiz%20sui%20genitori%20di%20Futurely)&amp;body=Ciao!%20Ho%20fatto%20il%20Parent's%20Quiz%20e%20voglio%20prenotare%20una%20consulenza%20gratuita%20con%20il%20tuo%20team." style="background:linear-gradient(96.52deg,#0068ff 7.68%,#fe45c2 101.43%);border-radius:8px;font-size:15px;font-weight:600;text-decoration:none;padding:7px 10px;width: 100%;max-width: 200px;border-radius:8px;display:inline-block;text-align:center;color:#fff" target="_blank">Login</a>
                                                                    </div>
                                                                 </td>
                                                                </tr>
                                                                <tr>
                                                                <td align="center" valign="center" style="min-width:100%;border-collapse:collapse;padding-top: 28px;">
                                                                    <a href="https://www.myfuturely.com/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.myfuturely.com/&amp;source=gmail&amp;ust=1660149381721000&amp;usg=AOvVaw3to05_u1S_8tIiYjdjp3et"><img width="24px" height="24px" src="https://myfuturelybucket-prod.s3.eu-south-1.amazonaws.com/media/email_template/Instagram.png" class="CToWUd" data-bit="iit"></a>
                                                                    <a href="https://www.instagram.com/futurely.it/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/futurely.it/&amp;source=gmail&amp;ust=1660149381721000&amp;usg=AOvVaw0JvwUaV8xEos5uwMbZzRzB"><img height="24px" style="margin-left:8px;margin-right:8px;" src="https://myfuturelybucket-prod.s3.eu-south-1.amazonaws.com/media/email_template/Facebook.png" class="CToWUd" data-bit="iit"></a>
                                                                    <a href="https://www.youtube.com/channel/UCU5waQVkbRt1FFZN02vE0YQ" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.youtube.com/channel/UCU5waQVkbRt1FFZN02vE0YQ&amp;source=gmail&amp;ust=1660149381721000&amp;usg=AOvVaw0PFh89acz2aJ9ni61UrUO4"><img width="24px" height="24px" src="https://myfuturelybucket-prod.s3.eu-south-1.amazonaws.com/media/email_template/Youtube.png" class="CToWUd" data-bit="iit"></a>
                                                                </td>
                                                                </tr>
                                                                <tr>
                                                                <td valign="center" style="padding-top:0;padding-right:0px;padding-bottom:9px;padding-left:0px;word-break:break-word;color:#000;font-family:Helvetica;font-size:18px;font-weight:600;line-height:150%;text-align:center">
                                                                      <p style="font-size:12px;font-weight:400">Futurely Inc., 5137 Beethoven St, Los Angeles, California 90066, United States, +1 8578912113</p>
                                                                    
                                                                </td>
                                                                </tr>
                                                                
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                   
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>